include ../modules/header/header.pug
include ../modules/footer/footer.pug

include ../modules/header/index.pug
include ../modules/footer/footer.pug
include ../modules/main/index.pug
include ../modules/components/index.pug