.ipn-classification{

	&__controll{
		@include flex(flex-start, stretch);
		height: $base-height;
		background-color: lighten($fourth, 10%);
	}
	&__link{
		@include flex(center, center);
		flex: 1 1 100%;
		position: relative;
		color: rgba(255,255,255,0.7);
		&:before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			width: 0;
			height: 2px;
			background-color: #fff;
			transition: $default-transition;
		}
		i{
			font-size: 16px;
			transition: $default-transition;
		}
		&:not(.ipn-classification__link--play):not(.ipn-classification__link--controll){
			&:hover{
				color: #fff;
			}
		}
		&--active{
			&:not(.ipn-classification__link--play):not(.ipn-classification__link--controll){
				color: #fff;
				&:before{
					width: 100%;
				}
			}
		} 
		&--rotate{
			i{
				transform: rotateZ(180deg);	
			}
		}
	}
	
	&__category,
	&__league,
	&__alert,
	&__match{
		cursor: pointer;
		position: relative;
		border-bottom: 1px solid $third;
	}

	&__category,
	&__league,
	&__alert{
		height: $base-height;
		padding: 5px 20px 5px 10px;
		@include flex(flex-start, center);
		.icon{
			color: $primary;
			margin-left: auto;
			margin-right: 15px;
		}
		&--open{
			&:hover{
				.ipn-classification__icon{
					&:after{
						content: '\f107';
						font-size: 20px;
					}
				}
			}
		}
		&--closed{
			&:hover{
				.ipn-classification__icon{
					&:after{
						content: '\f106';
						font-size: 20px;
					}
				}
			}
		}
	}


	&__alert{
		height: auto;
		text-align: center;
		background-color: lighten($fourth, 10%);
		.icon{
			margin: 0 3px;
			font-size: 12px;
			color: inherit;
		}
	}

	&__category{
		&--favourite {
			background-color: $fourth;
			.icon{
				font-size: 14px;
				color: $second;
			}
		}
	}

	&__league{
		background-color: lighten($third, 12%);
		&:hover{
			.ipn-classification__favourite{
				display: block;
			}
		}
	}

	&__match{
		&:hover{
			background-color: lighten($third, 15%);
			.open-Odds{
				display: block;
			}
			.ipn-classification__favourite{
				display: block;
			}
			.block--team{
				*{
					color: $primary;
				}
			}
		}
		&--active{
			background-color: $third;
		}
		.wrap{
			@include flex(flex-start, center);
			padding: 10px 10px 10px 20px;
		}
		.open-Odds{
			display: none;
			position: absolute;
			left: 5px;
			top: 15px;
			&:after{
				font-size: 14px;
				font-family: "Font Awesome 5 Pro";
				color: $fourth;
			}
			&--closed {
				&:after{
					content: '\f107';
				}
			}
			&--open {
				&:after{
					content: '\f106';
				}
			}
			&:hover{
				& ~ .ipn-classification__market{
					display: block;
				}
			}
		}
		.block{
			&--team{
				flex: 1 1 auto;
				overflow: hidden;
				margin-right: 5px;
				.text-ellipsis{
					width: 100%;
				}
			}
			&--info{
				margin-left: 5px;
				text-align: right;
			}
			&--play{
				max-width: 40px;
				*{
					margin: 0 auto;
				}
				.icon{
					color: rgba(0,0,0,0.5);
					font-size: 16px;
					&:hover{
						color: rgba(0,0,0,1);
					}
				}
			}
		}
		.current{
			&-score{
				color: $fifth;
				font-weight: bold;
			}
			&-time{
				color: rgba(0,0,0,0.5);
			}
		}

		.set-table{
			@include flex(flex-start,center);
			&__cell{
				padding: 0 2px;
				&--current{
					*{
						color: $fifth;
						font-weight: bold;
					}
				}
				*{
					font-size: 12px;
				}
			}
		}
	}

	&__market{
		display: none;
		.block{
			@include flex(flex-start, stretch);
		}

		.btn{
			height: auto;
			flex-direction: column;
			flex: 1 1 100%;
			border: 1px solid $third;
			border-bottom: 0;
			border-right: 0;
			&:last-child{
				margin-right: 0;
			}
			&:hover,
			&--active{
				background-color: lighten($third, 15%);
			}
		}
	}

	&__icon{
		min-width: 20px;
		position: absolute;
		right: 5px;
		top: 50%;
		transform: translateY(-50%);
		&:after{
			font-family: "Font Awesome 5 Pro";
		}
		&--light{
			color: $third;
		}
	}


	&__favourite{
		display: none;
		height: 18px;
		width: 18px;
		text-align: center;
		position: absolute;
		right: 0;
		top: -10px;
		z-index: 2;
		&:after{
			content: '\f005';
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
			color: $third;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
		}
		&:hover{
			&:after{
				color: $second;
			}
		}	
	}

	&__img{
		margin-left: auto;
		margin-right: 15px;
	}

	&__flag{
		width: 20px;
		height: auto;
		margin-right: 5px;
	}

}