- var classification = [{id: "1",name: "Soccer",action: "open"},{id: "13",name: "Tennis",action: "open"},{id: "11",name: "Basketball",action: "closed"},{id: "12",name: "Hockey",action: "open"}];


mixin ipn-classification
	.ipn-classification&attributes(attributes)
		+ipn-classification-controll
		+ipn-classification-favourite.ipn-classification__category--open
		+ipn-classification-alert
		each item, index in classification
			+ipn-classification-category(item).ipn-classification__category--closed
			+ipn-classification-league.ipn-classification__league--closed
			+ipn-classification-match
			+ipn-classification-category(item).ipn-classification__category--open
			+ipn-classification-league.ipn-classification__league--open
			+ipn-classification-match-v2
			

mixin ipn-classification-controll
	.ipn-classification__controll&attributes(attributes)
		a.ipn-classification__link.ipn-classification__link--active All
		a.ipn-classification__link Top
		a.ipn-classification__link.ipn-classification__link--play
			.s-icon.s-icon--play-v2
		a.ipn-classification__link.ipn-classification__link--controll
			i.fal.fa-chevron-double-left


mixin ipn-classification-favourite
	.ipn-classification__category.ipn-classification__category--favourite&attributes(attributes)
		p.font--white.text-ellipsis Favourite
		i.fas.fa-star.icon
		a.ipn-classification__icon.ipn-classification__icon--light


mixin ipn-classification-alert
	.ipn-classification__alert&attributes(attributes)
		p.font--white Click on a
			i.fas.fa-star.icon
			| below to move th event here

mixin ipn-classification-category(item)
	.ipn-classification__category&attributes(attributes)
		p.text-ellipsis= item.name
		.ipn-classification__img.s-sports.s-sports--tennis
		a.ipn-classification__icon

mixin ipn-classification-league
	.ipn-classification__league&attributes(attributes)
		//- img(src="./img/icon-country/ua.png").ipn-classification__flag
		p.text-ellipsis Ukraine
		a.ipn-classification__icon
		a.ipn-classification__favourite

mixin ipn-classification-match
	.ipn-classification__match&attributes(attributes)
		.open-Odds.open-Odds--closed
		a.ipn-classification__favourite
		.wrap
			.block.block--team
				p.text-ellipsis England
				p.text-ellipsis Germany
			.block.block--play
				.fal.fa-volume-up.icon
			.block.block--info
				p.current-score 4-1
				p.current-time 109:18
		+ipn-classification-market

mixin ipn-classification-match-v2
	.ipn-classification__match&attributes(attributes)
		.open-Odds.open-Odds--open
		a.ipn-classification__favourite
		.wrap
			.block.block--team
				p.text-ellipsis Man Utd
				p.text-ellipsis Arsenal
			.block.block--play
				.s-icon.s-icon--play
			.block.block--info
				.set-table
					.set-table__row
						.set-table__cell.set-table__cell--current
							p 1
						.set-table__cell.set-table__cell--current
							p 0
					.set-table__row
						.set-table__cell
							p 0
						.set-table__cell
							p 1
					.set-table__row
						.set-table__cell
							p 30
						.set-table__cell
							p 15
					.set-table__row
						.set-table__cell
							p 30
						.set-table__cell
							p 15
		+ipn-classification-market


mixin ipn-classification-market
	.ipn-classification__market&attributes(attributes)
		.block
			+button-coff(1)
			+button-coff(1)
			+button-coff(1)