extends ../template/template.pug
block content
	.page.page--full
		+header
		.wrap
			.content.content--center
				+ip-control
			.content.content--right.content--wide
				+ip-control-2
		.box
			.content.content--left.scroll
				+ipn-classification

			.content.content--center.scroll
				+ipe-scoreboard(style="background-image: url('./img/ipe-scoreboard/fields/1.jpg')")
				+ipe-grid
				+ip-market-league-2.ip-market__league--primary.ip-market__league--favourite
				+ip-market-subheader(1, 3)
				+ip-market-body-big(2,false,3,false,true)
				+ip-market-league-2.ip-market__league--primary
				+ip-market-subheader(1, 4)
				+ip-market-body-big(1,false,3,false,true,true)
				+ip-market-league-2.ip-market__league--primary
				+ip-market-body-big(2,false,3,false,true)
				+ip-market-league-2.ip-market__league--primary
				+ip-market-subheader(1, 3)
				+ip-market-body-big(3,false,2,false,true,true)
				+ip-market-league-2.ip-market__league--primary
				+ip-market-league-2.ip-market__league--primary
				+ip-market-league-2.ip-market__league--primary
				+ip-market-league-2.ip-market__league--primary
				+ip-market-subheader(1, 2)
				+ip-market-body-big(1,false,4,false,true)
				+ip-market-league-2.ip-market__league--primary
				+ip-market-body-range
				.ip-market__few
					.ip-market__subblock
						+ip-market-league-2.ip-market__league--primary
						+ip-market-subheader(1, 2)
						+ip-market-body-big(6,false,2,false,true)
					.ip-market__subblock
						+ip-market-league-2.ip-market__league--primary
						+ip-market-subheader(1, 3)
						+ip-market-body-big(2,false,2,false,true,true)

				+footer
			.content.content--right.content--wide.scroll
				+lv-streaming
				+bw-betslip

	.shadow.shadow--v-modal(style="display: none;")
		+modal-alert