extends ../template/template.pug
block content
	.page
		.header
			.hm-nav.hm-nav--primary
				+hm-logo
				+hm-menu
				+hm-members
			.hm-nav.hm-nav--second
				+hm-search
				+hm-submenu
		.main
			.content.content--center.scroll
				+ip-control
			.content.content--right.scroll
				+ip-control-2
				+lv-streaming
				+bw-betslip