extends ../template/template.pug
block content
	.page
		+header
		.main
			.content.content--center.scroll
				+mbl-mybets
			.content.content--right.scroll
				+ip-control-2
				+lv-streaming
				+bw-betslip