extends ../template/template.pug
block content
	+header
	.wrap
		.content.content--left
			+wn-classification

		.content.content--center
			+slm-market
			+ip-market-league-5.ip-market__league--primary
			+ip-market-league-3.ip-market__league--primary
			+ip-market-body-big(2,false,3,false,true,false,true)
			+ip-market-league-3.ip-market__league--primary
			+ip-market-body-big(3,false,4,false,true,false,true)
			+ip-market-league-3.ip-market__league--primary
			+ip-market-league-3
			+ip-market-body-big(3,false,4,false,true,false,true)
			+ip-market-league-3.ip-market__league--primary
			+ip-market-league-3.ip-market__league--primary
			+ip-market-league-4.ip-market__league--primary
			+gl-market-table-2


		.content.content--right.content--wide
			+ip-control-3
			+bw-betslip
			+ib-info-banner(1)
			+ib-info-banner(2)
			+ib-info-banner(3)
			+ha-highlights-additional(2)
			+ip-market-body-big(2,false,1,false,true)
			+ip-market-subheader(1, 1)
			+ip-market-body-big(3,false,1,false,true)
			+ip-market-subheader-v2(1, 1)
			+ip-market-body-big(3,false,1,false,true)
			+im-banners(1,"BlackJack")
			+im-banners(2,"Roulette")
			+im-banners(3,"Hi Lo")
	+footer
	.shadow.shadow--v-modal(style="display: none;")
		+modal-alert