extends ../template/template.pug
block content
	.page.page--full
		+header
		.main
			.content.content--center.scroll
				+ip-control
				+ip-schedule-slider
				+ip-schedule-message
				+ip-schedule
				+ip-schedule-2
				+footer

			.content.content--right.content--wide.scroll
				+ip-control-2
				+lv-streaming
				+bw-betslip