extends ../template/template.pug
block content
	+header
	.main
		.content.content--center
			+ip-control
			+ip-schedule-slider
			+ip-schedule-message
			+ip-schedule
			+ip-schedule-2
			+footer

		.content.content--right.content--wide
			+ip-control-2
			+lv-streaming
			+bw-betslip