extends ../template/template.pug
block content
	.page
		+header
		.main
			.content.content--center
				+ssm-search
				
			.content.content--right.content--wide
				+ip-control-2
				+lv-streaming
				+bw-betslip

		+footer