-var sport = ["soccer", "tennis", "basketball", "soccer"];

mixin tc-top-coupons(number)
	.tc-top-coupons&attributes(attributes)
		.tc-top-coupons__header
			p.font--white Top Coupons
		.tc-top-coupons__table
			if (!number)
				- var n = 0;
				while n < number
					+button-arrow-img.tc-top-coupons__btn(data=n++)
			else
				each item in sport
					+button-arrow-img(item).tc-top-coupons__btn