$betslip:(
	field-color: 		#d8d8d8,
	message-color:		#d8d8d8,
);


.betSlip{
	background-color: #fff;
}

.bet-slip-type{
	display: none;
}
.bl-BetslipDarkWash{
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #000;
	opacity: 0.65;
	&_Absolute{
		position: absolute;
	}
}
.mbr-MyBetsRhs{
	position: relative;
	z-index: 2;
}

.bw{
	&-betslip{
		position: relative;
	}

	&-BetslipLogin{
		@include absolute-center;
		width: 270px;
		z-index: 4;
		background-color: lighten($third, 20%);
		&_Close{
			position: absolute;
			right: 5px;
			top: 5px;
			font-size: 18px;
			cursor: pointer;
			&:hover{
				color: $primary;
			}
		}
		&_Message{
			text-align: center;
			margin-top: 30px;	
			margin-bottom: 20px;
		}
		&_Input{
			@include flex(center,center,column);
		}
		&_InputText{
			@include input;
			max-width: 230px;
			margin-bottom: 20px;
			border: 1px solid rgba(0,0,0,0.1);
			&.Hidden{
				display: none;
			}
		}
		&_LoginBtn{
			@include flex(center,center);
			@include font;
			@include input;
			border: 0;
			cursor: pointer;
			color: #fff;
			max-width: 230px;
			margin: 0 auto 20px auto;
			background-color: $primary;
		}
		&_Help{
			@include flex(center,center);
			border-top: 1px solid rgba(0,0,0,0.1);
			padding: 15px 10px;
		}
		&_NewCustomer{
			margin-right: 5px;
		}
		&_JoinNow{
			color: $primary;
			cursor: pointer;
		}
	}

	&-BetslipHeader{
		height: $base-height;
		background-color: $primary;
		border-bottom: 1px solid $fourth;
		text-align: center;
		position: relative;
		z-index: 2;
		@include flex(center, stretch);
		&_Item{
			font-size: 16px;
			cursor: pointer;
			position: relative;
			margin: 0 10px;
			color: #fff;
			@include flex(center, center);
			&:hover{
				color: $second;
			}
			&-active{
				color: $second;
				&:before{
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					right: 0;
					height: 3px;
					background-color: $second;
				}
			}
		}
	}
	&-BetslipMyBetsButton_Count{
		@include flex(center, center);
		@include size(15px);
		border-radius: 50%;
		background-color: $second;
		color: #000;
		font-size: 12px;
		font-weight: bold;
		position: absolute;
		top: 0;
		right: 0;
		transform: translateX(15px);
	}
}
.mbr{
	&-OpenBetHeaderScoller{
		&_ScrollContent{
			background-color: #000;
			height: $base-height;
			overflow: hidden;
			@include flex(flex-start,center);
		}
	}
	&-MyBetsHeaderRhs_Button,
	&-MyBetsHeaderRhs_ButtonSelected{
		@include flex(center,center);
		height: 100%;
		color: rgba(255,255,255,0.7);
		font-size: 12px;
		padding: 5px 10px;
		white-space: nowrap;
		cursor: pointer;
		&:hover{
			color: rgba(255,255,255,1);
		}
	}
	&-MyBetsHeaderRhs_ButtonSelected{
		position: relative;
		color: rgba(255,255,255,1);
		.mbr-MyBetsHeaderRhs_DummyBarSlider-displayanimation{
			height: 3px;
			background-color: #fff;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	&-BetItemsContainerRhs{
		&_EmptyMessage{
			opacity: 1;
			padding: 30px 10px;
			&-animateinsert{
				opacity: 0;
			}
		}
		&_EmptyMessageLineOne,
		&_EmptyMessageLineTwo{
			text-align: center;
			color: #000;
		}
	}
}
.qb-Btn{
	@include flex(flex-start, center);
	&_Text-quick{
		color: #fff;
		margin-right: 5px;
	}
	&_Switch-false{
		position: relative;
		display: block;
		overflow: hidden;
		border-radius: 20px;
		background-color: #666;
		@include size(40px, 20px);
		&:before{
			content: '';
			width: 18px;
			background-color: $primary;
			position: absolute;
			left: 1px;
			top: 1px;
			bottom: 1px;
			border-radius: inherit;
		}
	}
}

.bs{
	&-Header{}
	&-ChangeSlipTypeContainer{
		height: $base-height;
		padding: 5px 10px;
		border-bottom: 1px solid rgba(0,0,0,0.3);
		background-color: $primary;
		@include flex(flex-start, center);
	}
	&-BetSlipType{
		position: relative;
		margin-left: auto;
		margin-right: 0;
	}
	&-BetSlipType_Selection{
		cursor: pointer;
		&.showing{
			~ .bs{
				&-BetSlipType_Options{
					display: block;
				}
			}
			.bs{
				&-BetSlipType_SelectionText{
					/* color: $primary;
					&:after{
						color: $primary;
					} */
				}
			}
		}
	}
	&-BetSlipType_SelectionText{
		color: #fff;
		@include flex(flex-start, center);
		&:after{
			content: '\f107';
			font-size: 14px;
			font-style: normal;
			font-family: "Font Awesome 5 Pro";
			color: #fff;
			margin-left: 5px;
		}
	}
	&-BetSlipType_Options{
		display: none;
		position: absolute;
		right: -10px;
		z-index: 1;
		min-width: 250px;
		padding-top: 5px;
	}
	&-Dropdown_Items{
		border: 1px solid rgba(0,0,0,0.3);
	}
	&-Dropdown_Item{
		@include flex(flex-start, center);
		@include size(100%, $base-height);
		border-bottom: 1px solid rgba(0,0,0,0.3);
		cursor: pointer;
		position: relative;
		white-space: nowrap;
		padding-left: 15px;
		background-color: #d4d4d4;
		&:before{
			content: '';
			width: 4px;
			top: 0;
			left: 0;
			bottom: 0;
			position: absolute;
		}
		&:last-child{
			border-bottom: 0;
		}
		&.selected,
		&:hover{
			background-color: #bebebe;
			&:before{
				background-color: $primary;
			}
			*{
				color: #000;	
			}
		}
	}
	&-Dropdown_ItemText{
		color: #000;
	}


	&-Header_RemoveAll{
		padding: 5px 10px;
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}
	&-Header_RemoveAllLink{
		color: #000;
		&:hover{
			color: $primary;
		}
	}


	&-SingleItem{
		padding: 10px 0;
		overflow: hidden;
		border-bottom: 1px solid rgba(0,0,0,0.3);
		&.oddsChange{
			.bs{	
				&-Odds{
					border-bottom: 2px solid $primary;
				}
			}
		}
		&.bs-RestrictedCong,
		&.bs-MinOddsContigency,
		&.bs-BetBuilderIncompatibleSelections{
			.bs{
				&-RestrictedBet{
					background-color: $fifth;
				}
			}
		}
	}
	&-SelectionRow{
		@include flex;
		flex-grow: 1;
		padding: 0 10px;
		position: relative;
	}
	&-RestrictedBet{
		width: 3px;
		position: absolute;
		top: -10px;
		bottom: -50px;
		left: 0;
	}
	&-RemoveColumn_Button{
		margin-right: 5px;
		&:after{
			content: '\f00d';
			font-size: 20px;
			font-style: normal;
			font-family: "Font Awesome 5 Pro";
			color: #000;
		}
		&:hover{
			&:after{
				color: $primary;
			}
		}
	}
	&-Selection_Desc{
		color: #000;
		font-size: 16px;
		font-weight: bold;
	}
	&-Selection_Details{
		color: #000;
		font-size: 12px;
	}
	&-Selection{
		flex-grow: 1;
	}
	&-OddsContainer{
	}
	&-Odds{
		color: #000;
		padding: 0 4px;
	}
	&-ItemStatus{
		color: #000;
	}



	&-StakeData{
		padding: 10px 10px 0 30px;
		max-width: 40%;
	}
	&-StakeAndToReturnContainer{
		@include flex(flex-start, center);
	}
	&-StakeToReturn{
		@include flex(center, center);
	}
	&-StakeToReturnBreakDownContainer{
		display: none;
	}
	&-StakeToReturn_Text{
		margin-right: 3px;
		margin-left: 10px;
		white-space: nowrap;
	}
	&-StakeToReturn_Text,
	&-StakeToReturn_Value{
		color: #000;
		font-size: 12px;
	}
	&-Stake_TextBox,
	&-MultipleBets_Stake{
		@include font;
		@include input;
		max-width: 100px;
		margin-right: 5px;
		height: 26px;
		color: #000;
		border: 0;
		background-color: map-get($betslip, field-color);
	}




	&-MultipleBets{
		.open{
			.bs-MbHeader_Link{
				color: #000;
				&:after{
					content: '\f107';
					color: #000;
				}
			}
		}
	}
	&-MultipleBets_Header{
		padding: 5px 10px;
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}
	&-MultipleBets_StakeRow,
	&-MultipleBets_BetRow{
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}
	&-MultipleBets_SubHeader{
		padding: 5px 10px;
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}
	&-MultipleBets_SubHeaderContainer{
		@include flex(flex-start, center);
	}
	&-MultipleBets_BettypeHeader{
		width: 55%;
		color: #000;
	}
	&-MultipleBets_StakeHeader{
		width: 45%;
		padding-left: 10px;
	}
	&-MultipleBets_StakeHeadertext{
		color: #000;
	}
	&-MbHeader_Link{
		@include flex(flex-start, center);
		color: #000;
		&:hover{
			color: #000;
			&:after{
				color: #000;
			}
		}
		&:after{
			content: '\f105';
			font-size: 14px;
			font-style: normal;
			font-family: "Font Awesome 5 Pro";
			color: #000;
			margin-left: 5px;
		}
	}
	&-MultipleBets_StakeContainer{
		padding: 5px 10px;
		@include flex(flex-start, center);
	}
	&-MultipleBets_StakeData{
		width: 45%;
		@include flex(flex-start, center);
	}
	&-MultipleBets_StakeRowLabel{
		color: #000;
		width: 55%;
	}
	&-MultipleBets_Odds{
		color: #000;
		font-size: 12px;
	}
	&-MultipleBets_StakeRowLink{
		color: #000;
	}
	&-MultipleBets_StakeData{}
	&-MultipleBets_BetCount{
		color: #000;
		width: 30px;
		text-align: right;
		margin-right: 5px;
	}
	&-MultipleBets_Stakeitem{}



	&-MultipleBets_Error{
		padding: 5px 10px;
		text-align: center;
		position: relative;
		border-bottom: 1px solid rgba(0,0,0,0.3);
		background-color: map-get($betslip, message-color);
		&.hidden{
			.bs-MultipleBets_RestrictedBet{
				display: none;
			}
		}
		.bs-MultipleBets_RestrictedBet{
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 3px;
			background-color: $fifth;
		}
	}
	&-MultipleBets_RestrictedText{
		color: #000;
	}
	&-Alert{
		padding: 5px 10px;
		text-align: center;
		position: relative;
		border-bottom: 1px solid rgba(0,0,0,0.3);
		background-color: map-get($betslip, message-color);
		&.hidden{
			display: none;
		}
	}
	&-Alert_Msg{
		color: #000;
	}
	&-MultipleBets_RestrictedBet{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 3px;
		//background-color: $primary;
	}


	&-FeedBack{
		&.hidden{
			display: none;
		}
	}


	&-Footer{}
	&-BtnWrapper{
		@include flex(center, center);
		height: $base-height;
		&.hidden{
			//display: none;
		}

		&.acceptChanges{
			background-color: $primary;
			.bs{
				&-BtnAccept{
					color: #fff;
				}
			}
		}

		&.placeBet{
			background-color: $second;
			.bs{
				&-TotalStake{
					margin-right: 5px;
					color: #000;
					font-weight: bold;
				}
				&-BtnText{
					color: #000;
				}
			}
		}

		&.updatingOdds{
			background-color: $third;
			.bs{
				&-BtnAccept{
					color: #fff;
				}
			}
		}
	}
}

.mbr-OpenBetItemRhs{
	&_OpenBetContainer{
	}
}
.mbr-OpenBetItemHeaderRhs{
	height: $base-height;
	background-color: $primary;
	&_BetDetailsContainer{
		@include flex(flex-start, center);
		padding: 5px 10px;
		height: 100%;
	}
	&_BetStake{
		color: #fff;
	}
	&_BetName{
		color: #fff;
		margin-left: 5px;
	}
}
.mbr-MessageSubHeaderRhs-warning{
	padding: 10px;
	text-align: center;
	&.Hidden{
		display: none;
	}
	&.mbr-MessageSubHeaderRhs{
	}
	&.mbr-OpenBetItemRhs_MessageSubHeader{
	}
} 
.mbr-OpenBetParticipantRhs{
	margin-left: 15px;
	&_ParticipantIconWrapper{
		position: absolute;
		left: -15px;
		top: 5px;
		@include size(8px);
		border-radius: 50%;
		background-color: $sixth;
	}
	&_Header{
		@include flex(space-between, center);
	}
	&_HeaderText{
		position: relative;
	}
	&_HeaderOdds{
		font-size: 16px;
		font-weight: bold;
	}
	&_Fixture-active{
		@include flex(flex-start, center);
	}
	&_FixtureDescriptionText{
		margin-right: 5px;
	}
	.mbr-OpenBetScoresRhs{
		@include flex(flex-start, center);
		&_ScoreWrapper,
		&_InnerWrapper,
		&_TeamGoalMarker,
		&_Time{
			margin-right: 5px;
		}
		&_ScoreWrapper{
			color: $fifth;
		}
		&_Score-lastscore{
			white-space: nowrap;
			margin: 0 5px;
		}
	}
}
.mbr-OpenBetItemRhsDetails{
	&_ParticipantContainer{
		padding: 10px;
	}
	&_BetInfoContainer{
		background-color: lighten($third, 15%);
		border-top: 1px solid rgba(0,0,0,0.1);
	}
	&_BetInfo{
		@include flex(flex-start, center);
		padding: 10px;
	}
	&_StakeInfo,
	&_ReturnInfo{
		width: 50%;
	}
	&_ReturnLabel,
	&_ReturnText{
		margin: 2px 0;
	}
}

.content{
	&--right{
		&:not(.content--wide){
			.bs{
				&-Stake_TextBox{
					width: 80px;
				}
				&-MultipleBets{
					&_Stake{
						margin-right: 0;
						width: 100px;
					}
					&_StakeData{
						flex: 1;
						width: auto;
					}
				}
			}
		}
	}
}