$betslip:(
	field-color: 		#d8d8d8,
	message-color:		#d8d8d8,
);


.betSlip{
	background-color: #fff;
}

.bet-slip-type{
	display: none;
}

.bw{
	&-BetslipHeader{
		height: $base-height;
		background-color: $primary;
		border-bottom: 1px solid $fourth;
		text-align: center;	
		@include flex(center, stretch);
		&_Item{
			color: $second;
			font-size: 16px;
			position: relative;
			@include flex(center, center);
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				height: 3px;
				background-color: $second;
			}
		}
	}
}

.qb-Btn{
	@include flex(flex-start, center);
	&_Text-quick{
		color: #fff;
		margin-right: 5px;
	}
	&_Switch-false{
		position: relative;
		display: block;
		overflow: hidden;
		border-radius: 20px;
		background-color: #666;
		@include size(40px, 20px);
		&:before{
			content: '';
			width: 18px;
			background-color: $primary;
			position: absolute;
			left: 1px;
			top: 1px;
			bottom: 1px;
			border-radius: inherit;
		}
	}
}

.bs{
	&-Header{}
	&-ChangeSlipTypeContainer{
		height: $base-height;
		padding: 5px 10px;
		border-bottom: 1px solid #000;
		background-color: $primary;
		@include flex(flex-start, center);
	}
	&-BetSlipType{
		position: relative;
		margin-left: auto;
		margin-right: 0;
	}
	&-BetSlipType_Selection{
		cursor: pointer;
		&.showing{
			~ .bs{
				&-BetSlipType_Options{
					display: block;
				}
			}
			.bs{
				&-BetSlipType_SelectionText{
					/* color: $primary;
					&:after{
						color: $primary;
					} */
				}
			}
		}
	}
	&-BetSlipType_SelectionText{
		color: #fff;
		@include flex(flex-start, center);
		&:after{
			content: '\f107';
			font-size: 14px;
			font-style: normal;
			font-family: "Font Awesome 5 Pro";
			color: #fff;
			margin-left: 5px;
		}
	}
	&-BetSlipType_Options{
		display: none;
		position: absolute;
		right: -10px;
		z-index: 1;
		min-width: 250px;
		padding-top: 5px;
	}
	&-Dropdown_Items{
		border: 1px solid #000;
	}
	&-Dropdown_Item{
		@include flex(flex-start, center);
		@include size(100%, $base-height);
		border-bottom: 1px solid #000;
		cursor: pointer;
		position: relative;
		white-space: nowrap;
		padding-left: 15px;
		background-color: #d4d4d4;
		&:before{
			content: '';
			width: 4px;
			top: 0;
			left: 0;
			bottom: 0;
			position: absolute;
		}
		&:last-child{
			border-bottom: 0;
		}
		&.selected,
		&:hover{
			background-color: #bebebe;
			&:before{
				background-color: $primary;
			}
			*{
				color: #000;	
			}
		}
	}
	&-Dropdown_ItemText{
		color: #000;
	}


	&-Header_RemoveAll{
		padding: 5px 10px;
		border-bottom: 1px solid #000;
	}
	&-Header_RemoveAllLink{
		color: #000;
		&:hover{
			color: $primary;
		}
	}


	&-SingleItem{
		padding: 10px 0;
		overflow: hidden;
		border-bottom: 1px solid #000;
		&.oddsChange{
			.bs{	
				&-Odds{
					border-bottom: 2px solid $primary;
				}
			}
		}
		&.bs-RestrictedCong,
		&.bs-MinOddsContigency,
		&.bs-BetBuilderIncompatibleSelections{
			.bs{
				&-RestrictedBet{
					background-color: $primary;
				}
			}
		}
	}
	&-SelectionRow{
		@include flex;
		flex-grow: 1;
		padding: 0 10px;
		position: relative;
	}
	&-RestrictedBet{
		width: 3px;
		position: absolute;
		top: -10px;
		bottom: -50px;
		left: 0;
	}
	&-RemoveColumn_Button{
		margin-right: 5px;
		&:after{
			content: '\f00d';
			font-size: 20px;
			font-style: normal;
			font-family: "Font Awesome 5 Pro";
			color: #000;
		}
		&:hover{
			&:after{
				color: $primary;
			}
		}
	}
	&-Selection_Desc{
		color: #000;
		font-size: 16px;
	}
	&-Selection_Details{
		color: #000;
		font-size: 12px;
	}
	&-Selection{
		flex-grow: 1;
	}
	&-OddsContainer{
	}
	&-Odds{
		color: #000;
		padding: 0 4px;
	}
	&-ItemStatus{
		color: #000;
	}



	&-StakeData{
		padding: 10px 10px 0 30px;
		max-width: 40%;
	}
	&-StakeAndToReturnContainer{
		@include flex(flex-start, center);
	}
	&-StakeToReturn{
		@include flex(center, center);
	}
	&-StakeToReturnBreakDownContainer{
		display: none;
	}
	&-StakeToReturn_Text{
		margin-right: 3px;
		margin-left: 10px;
		white-space: nowrap;
	}
	&-StakeToReturn_Text,
	&-StakeToReturn_Value{
		color: #000;
		font-size: 12px;
	}
	&-Stake_TextBox,
	&-MultipleBets_Stake{
		@include font;
		@include input;
		max-width: 100px;
		margin-right: 5px;
		height: 26px;
		color: #000;
		border: 0;
		background-color: map-get($betslip, field-color);
	}




	&-MultipleBets{
		.open{
			.bs-MbHeader_Link{
				color: #000;
				&:after{
					content: '\f107';
					color: #000;
				}
			}
		}
	}
	&-MultipleBets_Header{
		padding: 5px 10px;
		border-bottom: 1px solid #000;
	}
	&-MultipleBets_StakeRow,
	&-MultipleBets_BetRow{
		border-bottom: 1px solid #000;
	}
	&-MultipleBets_SubHeader{
		padding: 5px 10px;
		border-bottom: 1px solid #000;
	}
	&-MultipleBets_SubHeaderContainer{
		@include flex(flex-start, center);
	}
	&-MultipleBets_BettypeHeader{
		width: 55%;
		color: #000;
	}
	&-MultipleBets_StakeHeader{
		width: 45%;
		padding-left: 10px;
	}
	&-MultipleBets_StakeHeadertext{
		color: #000;
	}
	&-MbHeader_Link{
		@include flex(flex-start, center);
		color: #000;
		&:hover{
			color: #000;
			&:after{
				color: #000;
			}
		}
		&:after{
			content: '\f105';
			font-size: 14px;
			font-style: normal;
			font-family: "Font Awesome 5 Pro";
			color: #000;
			margin-left: 5px;
		}
	}
	&-MultipleBets_StakeContainer{
		padding: 5px 10px;
		@include flex(flex-start, center);
	}
	&-MultipleBets_StakeData{
		width: 45%;
		@include flex(flex-start, center);
	}
	&-MultipleBets_StakeRowLabel{
		color: #000;
		width: 55%;
	}
	&-MultipleBets_Odds{
		color: #000;
		font-size: 12px;
	}
	&-MultipleBets_StakeRowLink{
		color: #000;
	}
	&-MultipleBets_StakeData{}
	&-MultipleBets_BetCount{
		color: #000;
		width: 30px;
		text-align: right;
		margin-right: 5px;
	}
	&-MultipleBets_Stakeitem{}



	&-MultipleBets_Error{
		padding: 5px 10px;
		text-align: center;
		border-bottom: 1px solid #000;
		background-color: map-get($betslip, message-color);
	}
	&-MultipleBets_RestrictedText{
		color: #000;
	}
	&-Alert{
		padding: 5px 10px;
		text-align: center;
		position: relative;
		border-bottom: 1px solid #000;
		background-color: map-get($betslip, message-color);
		&.hidden{
			display: none;
		}
	}
	&-Alert_Msg{
		color: #000;
	}
	&-MultipleBets_RestrictedBet{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 3px;
		//background-color: $primary;
	}


	&-FeedBack{
		&.hidden{
			display: none;
		}
	}


	&-Footer{}
	&-BtnWrapper{
		@include flex(center, center);
		height: $base-height;
		&.hidden{
			//display: none;
		}

		&.acceptChanges{
			background-color: $primary;
			.bs{
				&-BtnAccept{
					color: #fff;
				}
			}
		}

		&.placeBet{
			background-color: $fifth;
			.bs{
				&-TotalStake{
					margin-right: 5px;
					color: #fff;
					font-weight: bold;
				}
				&-BtnText{
					color: #fff;
				}
			}
		}

		&.updatingOdds{
			background-color: $third;
			.bs{
				&-BtnAccept{
					color: #fff;
				}
			}
		}
	}
}