mixin footer
	.footer&attributes(attributes)
		+footer-notice
		.footer__content
			+hm-logo-w.footer__logo
			.text-center
				p.font--white © 2001-2019 oddsbit.io All rights reserved.

mixin footer-notice
	.notice&attributes(attributes)
		.notice__link
			p Important note on information displayed and transmission delays
		.notice__dropdown
			.notice__close Close
			p.font--bold Important Info
			p Although every effort is made to ensure that information displayed on site with regards to an event is correct, it is to be used as a guide only. In the event of any particular information (score, time of game etc) being incorrect we assume no liability for this. Please refer to our betting rules for information on how we settle individual markets.
			p For the purposes of In-Play betting, customers should be aware that transmissions described as live by some broadcasters including oddsbit.io Live Streaming may actually be delayed.  The extent of any delay may vary between customers, depending on the set-up through which they are receiving pictures or data.