mixin ipe-grid
	.ipe-grid&attributes(attributes)
		+ipe-grid-header
		+ipe-grid-header-v2.ipe-grid__header--v2

mixin ipe-grid-header
	.ipe-grid__header&attributes(attributes)
		p.ipe-grid__league.text-nowrap.text-ellipsis Indonesia Liga 3
		p.ipe-grid__match.text-ellipsis Palopo United v bank Sulselbar
		.ipe-grid__link-dropdown.link-dropdown
			.ipe-scoreboard__icon.ipe-scoreboard__icon--goal
			p.text-ellipsis 2nd Corner to FC Rouen
			.dropdown
				ul.dropdown__wrap.scroll
					- var a = 0;
					while a < 10
						li.dropdown__item
							.dropdown__link
								if a < 3
									.ipe-scoreboard__icon.ipe-scoreboard__icon--goal
								p.text-ellipsis(data=a++) Lorem ipsum dolor sit amet, consectetur adipisicing elit.

mixin ipe-grid-header-v2
	.ipe-grid__header&attributes(attributes)
		.ipe-grid__menu
			.ipe-grid__menu
				.ipe-grid__link.ipe-grid__link--active All
				.ipe-grid__link Asia Line
				.ipe-grid__link Cornern/Cards

		.ipe-grid__options
			.ipe-grid__icon.fal.fa-trophy.icon-dropdown
				+dropdown-cup
					
			.ipe-grid__icon.fal.fa-tshirt.icon-dropdown
				+dropdown-team
						
			.ipe-grid__icon.fal.fa-bell.icon-dropdown
				+dropdown-alert

mixin dropdown-cup
	.dropdown.dropdown--cup&attributes(attributes)
		.dropdown__wrap.scroll
			p.font.subtitle UEFA Champions League
			table
				tr
					td
						p.font Group E
					td
						p.font P
					td
						p.font W
					td
						p.font D
					td
						p.font L
					td
						p.font +/-
					td
						.font Pts
				- var a = 0;
				while a < 10
					tr
						td
							p.font= a++
							p.font Napoli
						td
							p.font 4
						td
							p.font 2
						td
							p.font 2
						td
							p.font 3
						td
							p.font 1
						td
							p.font 5

mixin dropdown-team
	.dropdown.dropdown--team&attributes(attributes)
		ul.dropdown__wrap.scroll
			li.dropdown__item
				.dropdown__link
					p.font.text-ellipsis Napoli
			li.dropdown__item
				.dropdown__link
					p.font.text-ellipsis FC Salzburg
			- var a = 0;
				while a < 10
					li.dropdown__item
						.dropdown__link(data=a++)
							p.font.text-ellipsis A Meret
							.ipe-scoreboard__icon.ipe-scoreboard__icon--goal
							p.font.font--xs 47``
							.ipe-scoreboard__icon.ipe-scoreboard__icon--yellow-card
							p.font.font--xs 47``



mixin dropdown-alert
	.dropdown.dropdown--alert&attributes(attributes)
		ul.dropdown__wrap
			li.dropdown__item
				.dropdown__link
					p.font.text-ellipsis.text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					i.fal.fa-check-circle.check
			li.dropdown__item
				.dropdown__link.dropdown__link--active
					p.font.text-ellipsis.text Lorem ipsum dolor sit amet
					i.fal.fa-check-circle.check

			li.dropdown__item
				.dropdown__link.link-dropdown 
					p.font.text-ellipsis.text Lorem ipsum dolor sit amet
					.dropdown(style="display: block")
						ul.dropdown__wrap
							li.dropdown__item
								.dropdown__link
									p.font.text-ellipsis.text Lorem ipsum dolor sit amet
									i.fal.fa-check-circle.check