.sl-alert{
	@include flex(center, center);
	padding: 5px 10px;
	border-top: 1px solid rgba(0,0,0,0.1);
	&__icon{
		margin-right: 5px;
	}
	&__text{
		margin-right: 5px;
	}
	&__btn{
		border: 1px solid $primary;
		color: $primary;
		background-color: rgba(0,0,0,0);
		max-width: 150px;
		height: 28px;
	}
}