mixin sl-alert
	.sl-alert&attributes(attributes)
		i.fal.fa-bell.sl-alert__icon
		p.font--bold.sl-alert__text Live Match Alert
		p.sl-alert__text Notifications for goals, results, and more
		button.btn.btn--primary.sl-alert__btn Open Alerts