.ip-control{
	display: flex;
	position: relative;
	height: $base-height;
	background-color: #000;
	&--v2{
		justify-content: space-between;
	}
	&--v3{
		justify-content: flex-end;
	}
	&__wrap,
	&__menu{
		@include flex(center,center);
	}
	&__icon{
		margin: 0 2px;
	}
	&__btn{
		border-left: 1px solid rgba(255,255,255,0.6);
		background-color: rgba(0,0,0,0);
		color: rgba(255,255,255,0.6);
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			color: rgba(255,255,255,1);
			.dropdown{
				display: block;
			}
		}
		*{
			font-size: 16px;
		}
	}
	&__link{
		@include flex(flex-start, center);
		height: $base-height;
		position: relative;
		padding: 0 10px;
		&:after {
			content: '';
			width: 0;
			height: 2px;
			background-color: $primary;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
		&:hover,
		&--active{
			color: #fff;
			&:after{
				transition: all .2s;
				width: 100%;
			}
		}
	}
	.dropdown{
		z-index: 1;
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		&__wrap{
			background-color: $third;
			max-height: 300px;
			min-width: 200px;
			padding: 10px;
		}
		&__item{
			padding: 5px 0;
			@include flex(space-between, center);
			*{
				color: #000;
			}
			.mute{
				width: 28px;
				margin-right: 10px;
				&:hover,
				&--active{
					&:after{
						content: '\f026';
						color: $second;
					}
				}
			}
		}
	}
}


.content{
	&--right{
		&:not(.content--wide){
			.ip-control{
				&__link{
					@include size(28px, 18px);
					font-size: 0;
					border: none;
					cursor: pointer;
					background-color: transparent;
					background-repeat: no-repeat;
					background-size: 100% 100%;
					position: relative;
					margin: 0 5px;
					transform: translateX(50%);
					&:after{
						display: none;
					}
					&--live-stream{
						background-image: url(../img/icon-sport/ML1BW-v2.svg);
						&:hover{
							background-image: url(../img/icon-sport/ML1.svg);
						}
					}
					&--match-live{
						background-image: url(../img/icon-sport/MLVideo-v2.svg);
						&:hover{
							background-image: url(../img/icon-sport/MLVideo-v2.svg);
						}
					}
				}
			}
		}
	}
}