mixin ip-control
	.ip-control&attributes(attributes)
		a.font--m-white.ip-control__link.ip-control__link--active(href="inplay.html") Overview
		a.font--m-white.ip-control__link(href="event-view.html") Event View
		a.font--m-white.ip-control__link(href="schedule.html") Schedule


mixin ip-control-2
	.ip-control.ip-control--v2&attributes(attributes)
		.btn.btn--square.btn--primary.ip-control__btn
			i.fal.fa-volume-up
			.dropdown.dropdown--volume
				ul.dropdown__wrap.scroll
					li.dropdown__item
						p Video Volume
					li.dropdown__item
						a.fal.fa-volume-up.mute
						input(type="range").range
					li.dropdown__item
						p Sound Effects
						.toggle.toggle--small

		.ip-control__menu
			a.font--m-white.ip-control__link.ip-control__link--active Live Stream
			a.font--m-white.ip-control__link Match Live

		.ip-control__wrap
			button.btn.btn--square.btn--primary.ip-control__btn
				i.fal.fa-expand-alt
			button.btn.btn--square.btn--primary.ip-control__btn
				i.fal.fa-angle-down


mixin ip-control-3
	.ip-control.ip-control--v3&attributes(attributes)
		.ip-control__wrap
			button.btn.btn--square.btn--primary.ip-control__btn
				i.fal.fa-newspaper
			button.btn.btn--square.btn--primary.ip-control__btn
				i.fal.fa-signa
			button.btn.btn--square.btn--primary.ip-control__btn
				i.fal.fa-expand-alt


mixin ip-control-4
	.ip-control.ip-control--v2&attributes(attributes)
		.btn.btn--square.btn--primary.ip-control__btn
			i.fal.fa-volume-up
			.dropdown.dropdown--volume
				ul.dropdown__wrap.scroll
					li.dropdown__item
						p Video Volume
					li.dropdown__item
						a.fal.fa-volume-up.mute
						input(type="range").range
					li.dropdown__item
						p Sound Effects
						.toggle.toggle--small

		.ip-control__menu
			.s-icon.s-icon--play-v2.ip-control__icon
			.s-icon.s-icon--field-v2.ip-control__icon

		.ip-control__wrap
			button.btn.btn--square.btn--primary.ip-control__btn
				i.fal.fa-expand-alt
			button.btn.btn--square.btn--primary.ip-control__btn
				i.fal.fa-angle-down