mixin ib-info-banner(value)
	.ib-info-banner&attributes(attributes)
		a.ib-info-banner__title(href="#") Full Time result - Enhanced Prices
		.ib-info-banner__wrap
			.ib-info-banner__img
				img(src="./img/ib-info-banner/"+value+".jpg", alt="")
			.ib-info-banner__text Earn up to 50% more. New & eligible customers only. T&Cs apply.