.im-banners{
	@include flex(flex-start, stretch);
	border-bottom: 1px solid  $third;
	&__left{
		max-width: 50%;
	}
	&__right{
		@include flex(flex-start, center);
		padding: 5px 10px;
		*{
			margin: 0 2px;
		}
	}
}