.ssm-search{
	background-color: #fff;


	&__header{
		@include flex(flex-start, stretch);
		height: $base-height;
		padding: 0 5px;
		border-bottom: 1px solid $third;
		overflow-x: hidden;
		background-color: #000;
	}

	&__link{
		@include flex(center,center);
		position: relative;
		height: 100%;
		padding: 5px 10px;
		white-space: nowrap;
		color: rgba(255,255,255,0.6);
		&:after{
			@include size(0, 2px);
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $primary;
		}
		&:hover{
			color: rgba(255,255,255,1);
		}
		&--active{
			color: rgba(255,255,255,1);
			&:after{
				width: 100%;
			}
		}
	}

	&__category{
		margin-top: 20px;
		padding: 10px;
		cursor: pointer;
		border-bottom: 1px solid $third;
	}

	&__toogle,
	&__more{
		@include flex(flex-start,center);
		position: relative;
		height: 100%;
		padding: 5px 0;
		cursor: pointer;
		.icon{
			margin-left: 5px;
		}
	}

	&__wrap{
		@include flex(space-between, center);
		padding: 5px 10px;
	}

	&__grid{
		@include flex(space-between);
	}

	&__column{
		flex: 1;
		&:not(:nth-child(1)){
			max-width: 16.6%;
		}
	}

	&__info{
		@include flex(center,flex-start,column);
		@include size(100%, 50px);
		padding: 5px 10px;
		cursor: pointer;
		border-top: 1px solid rgba(0,0,0,0.1);
		.info{
			&-date{
				margin-right: 5px;
				font-size: 12px;
			}
			&-score{
				color: $primary;
				font-size: 12px;
			}
			&-team{
				font-weight: bold;
			}
		}
	}

	&__block{
		@include flex(flex-start,center);
	}

	&__button{
		@include flex(center,center);
		@include size(100%, 50px);
		border-top: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		&:hover{
			background-color: $third;
		}
		&--active{
			background-color: $fifth;
		}
		.odds{
			&-name{
				margin: 0 2px;
			}
			&-value{
				margin: 0 2px;
				color: $primary;
				font-weight: bold;
			}
		}
	}
}