.hm-menu {
	@include flex(center, center);
	height: 100%;
	&__item{
		@include flex(center, center);
		position: relative;
		padding: 10px 0;
		margin: 0 10px;
		height: 100%;
		&:not(&--active){
			&:hover{
				color: #fff;
			}
		}
		&:after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 3px;
			background-color: $second;
			width: 0
		}
		&--active{
			color: #fff;
			&:after{
				width: 100%;
			}
		}
	}
}