mixin hm-menu
	menu.hm-menu&attributes(attributes)
		a(href="index.html").hm-menu__item.hm-menu__item--active Sports
		a(href="inplay.html").hm-menu__item In-Play
		a(href="login.html").hm-menu__item My Bets