mixin hm-menu
	menu.hm-menu&attributes(attributes)
		a(href="index.html").hm-menu__item.hm-menu__item--active Sports
		a(href="inplay.html").hm-menu__item In-Play
		a(href="#").hm-menu__item Live Casino
		a(href="#").hm-menu__item Games
		a(href="#").hm-menu__item Poker
		a(href="#").hm-menu__item Vegas
		a(href="#").hm-menu__item Bingo