mixin ha-highlights-additional(id)
	.ha-highlights-additional&attributes(attributes)
		.ha-highlights-additional__img
			img(src="./img/ha-highlights-additional/"+id+".jpg", alt="")
		.ha-highlights-additional__container
			.ha-highlights-additional__header
				p.ha-highlights-additional__text EFL CUP
				.ha-highlights-additional__wrap
					a(href="#").ha-highlights-additional__link Aston Villa v Wolverhamptone
					.ha-highlights-additional__icon.ha-highlights-additional__icon--volume
			.ha-highlights-additional__body
				a(href="#").ha-highlights-additional__more More Markets