.wn-classification{
	&__category,
	&__subcategory{
		@include flex(flex-start, center);
		position: relative;
		cursor: pointer;
		height: $base-height;
		background-color: #fff;
		padding: 5px 20px 5px 10px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		&:before{
			content: '';
			width: 0;
			background-color: $primary;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
		}
		&:hover{
			background-color: $third;
			.wn-classification{
				&__icon{
					color: #fff;
				}
				&__text{
					color: #fff;
				}
			}
		}
		&--default{
			&:hover{
				.wn-classification__icon{
					&:after{
						content: '\f005';
					}
					&:hover{
						&:after{
							color: $second;
						}
					}
				}
			}
		}
		&--dropdown{
			.wn-classification__icon{
				&:after{
					content: '\f107';
					font-size: 18px;
				}
			}
		}
		/* &--open{
			.wn-classification__icon{
				&:after{
					content: '\f106';
					font-size: 22px;
				}
			}
		} */
		/* &--closed{
			.wn-classification__icon{
				&:after{
					content: '\f107';
					font-size: 22px;
				}
			}
		} */
		&--active{
			background-color: lighten($fourth, 10%);
			&:before{
				width: 4px;
			}
			&:hover{
				background-color: $fourth;
				.wn-classification__icon:after{
					content: '\f005';
				}
			}
			.wn-classification{
				&__icon{
					color: #fff;
				}
				&__text{
					color: #fff;
				}
				&__icon{
					&:after{
						color: yellow;
					}
					
				}
			}
		}
	}
	&__dropdown{
		.wn-classification{
			&__category,
			&__subcategor{
				padding-left: 25px;
			}
		}
	}
	&__text{
		text-transform: uppercase;
	}
	&__icon{
		min-width: 20px;
		position: absolute;
		right: 5px;
		top: 50%;
		transform: translateY(-50%);
		&:after{
			font-family: "Font Awesome 5 Pro";
		}
	}
}