mixin wn-classification
	.wn-classification&attributes(attributes)
		- var classification = [{name: "Soccer",action: "active"},{name: "Volleyball",action: "default"},{name: "Tennis",action: "default"},{name: "Basketball",action: "dropdown"},{name: "Hockey",action: "dropdown"}];
		.wn-classification__category.wn-classification__category--active
			p.text-ellipsis.wn-classification__text Home

		.wn-classification__category
			p.text-ellipsis.wn-classification__text
				span Live 
				span.font--primary In-Play

		each item, index in classification
			.wn-classification__category(class="wn-classification__category--"+item.action)
				p.text-ellipsis.wn-classification__text= item.name
				a.wn-classification__icon
			if (item.action == 'dropdown')
				.wn-classification__dropdown
					.wn-classification__category.wn-classification__category--default
						p.text-ellipsis.wn-classification__text Soccer
						a.wn-classification__icon
					.wn-classification__category.wn-classification__category--default
						p.text-ellipsis.wn-classification__text Soccer
						a.wn-classification__icon

		.wn-classification__subcategory.wn-classification__subcategory--active
			p.text-ellipsis.wn-classification__text Handball
			a.wn-classification__icon