.hm-members{
	@include flex(flex-end, center);
	
	&__left{
		padding-right: 5px;
	}
	&__right{
		padding-left: 5px;
	}

	&__top,
	&__bottom{
		@include flex(flex-end, center);
	}

	&__dropdown{
		width: 250px;
		&--active{
			display: block!important;
		}
		.dropdown{
			&__wrap{
				max-height: 100%;
			}
			&__link{
				padding: 5px 10px;
			}
		}
	}

	&__balance {
		color: $m-white;
		margin-right: 10px;
	}

	&__deposit{
		color: $second;
		cursor: pointer;
		&:hover,
		&--active{
			text-decoration: underline;
		}
	}

	&__player{
		color: #fff;
		cursor: pointer;
	}

	&__mail{
		margin-left: 5px;
		i{
			font-size: 18px;
			color: #4ACFA5;
		}
	}
	
	&__icon{
		& > i{
			font-size: 42px;
			color: #4ACFA5;
		}
	}

	&__balance-info{
		@include flex(flex-start, center);
		padding: 10px;
	}


	&__header{
		@include flex(space-between, center);
		height: $base-height;
		padding: 0 10px;
		background-color: darken($third, 3%);
		border-top: 1px solid darken($third, 10%);
		border-bottom: 1px solid darken($third, 10%);
		&:first-child{
			border-bottom-color: $fourth;
		}
	}
	&__link{
		@include flex(center, center);
		height: 100%;
		margin: 0 5px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			width: 0;
			height: 3px;
			background-color: $primary;
		}
		&--active{
			&:before{
				width: 100%;
			}
		}
	}
	&__cog{
		@include flex(center, center);
		margin-left: auto;
		margin-right: 0;
		color: darken($third, 25%);
		&:hover,
		&--active{
			color: $primary;
		}
	}
	&__message{
		&-count{
			margin-left: auto;
			margin-right: 5px;
		}
		&-icon{
			color: darken($third, 15%);
			&:hover,
			&--active{
				color: $primary;
			}
		}
	}
	&__btn{
		width: auto;
		font-size: 12px;
		height: auto;
		padding: 4px 8px;
	}
	&__redo{
		margin-left: 10px;
		margin-right: auto;
		font-size: 12px;
		&:hover,
		&--active{
			color: $primary;
		}
	}

	&__select{
		padding: 10px 30px 10px 10px;
		position: relative;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		&:after{
			@include absolute-center-right(10px);
			content: '\f107';
			font-family: "Font Awesome 5 Pro";
			font-weight: 300;
			font-size: 16px;
		}
		&-dropdown{
			position: static!important;
			padding-top: 0!important;
			max-height: 100%;
			&--active{
				display: block!important;
			}
		}
	}

	&__empty{
		text-align: center;
		white-space: wrap;
		height: auto!important;
		padding: 10px;
	}
}