mixin hm-members
	.hm-members&attributes(attributes)
		.hm-members__left
			.hm-members__top
				.hm-members__player player 1
				.hm-members__mail
					i.fal.fa-envelope
			.hm-members__bottom
				.hm-members__balance 18,20 mB
				.hm-members__deposit Deposit
		.hm-members__right
			.hm-members__icon.icon-dropdown
				i.fal.fa-user-circle
				.dropdown.hm-members__dropdown.hm-members__dropdown--active
					.dropdown__wrap
						.hm-members__header
							p 18,20 mB
							a.fal.fa-redo.hm-members__redo
							button.btn.btn--primary.hm-members__btn Deposit
						.hm-members__balance-info
							.half-width
								p.hm-members__text.font--sm Withdrawable
								p.hm-members__text 18,20 mB
							.half-width
								p.hm-members__text.font--sm Bet Credits
								p.hm-members__text 0,00 mB
						.hm-members__header
							.hm-members__link.hm-members__link--active Account
							.hm-members__link My offers
							.hm-members__cog
								i.fal.fa-cog
						.dropdown__item
							a.dropdown__link.hm-members__message Messages
								span.hm-members__message-count 0
								i.fal.fa-envelope.hm-members__message-icon
						.dropdown__item
							a.dropdown__link.dropdown__link--active Members
						.dropdown__item
							a.dropdown__link Withdraw
						.dropdown__item
							a.dropdown__link History
						.dropdown__item
							a.dropdown__link Promotions
						.dropdown__item
							a.dropdown__link Help
						.dropdown__item
							a.dropdown__link Take a break
						.dropdown__item
							a.dropdown__link Responsible Gambling
						.dropdown__item
							a.dropdown__link Logout

						.dropdown__item.hm-members__empty
							p You currently have no offers available.


						.hm-members__select
							p.font--sm.hm-members__select-title Language
							p.hm-members__select-text English
						.dropdown.hm-members__select-dropdown.hm-members__select-dropdown--active
							ul.flex.align-middle.flex-wrap.dropdown__wrap
								li.dropdown__item.half-width
									a.dropdown__link.dropdown__link--active English
								li.dropdown__item.half-width
									a.dropdown__link Dansk
								li.dropdown__item.half-width
									a.dropdown__link Franch
								li.dropdown__item.half-width
									a.dropdown__link Nederlands
								li.dropdown__item.half-width
									a.dropdown__link Polski
								li.dropdown__item.half-width
									a.dropdown__link English
								li.dropdown__item.half-width
									a.dropdown__link Dansk
								li.dropdown__item.half-width
									a.dropdown__link Franch
								li.dropdown__item.half-width
									a.dropdown__link Nederlands
								li.dropdown__item.half-width
									a.dropdown__link Polski

						.hm-members__select
							p.font--sm.hm-members__select-title Time Zone
							p.hm-members__select-text CET
						.dropdown.hm-members__select-dropdown
							ul.flex.align-middle.flex-wrap.dropdown__wrap
								li.dropdown__item.half-width
									a.dropdown__link.dropdown__link--active UK
								li.dropdown__item.half-width
									a.dropdown__link ET
								li.dropdown__item.half-width
									a.dropdown__link PT
								li.dropdown__item.half-width
									a.dropdown__link MT

						.hm-members__select
							p.font--sm.hm-members__select-title Odds Display
							p.hm-members__select-text Decimal
						.dropdown.hm-members__select-dropdown
							ul.dropdown__wrap
								li.dropdown__item
									a.dropdown__link.dropdown__link--active Fractionan
								li.dropdown__item
									a.dropdown__link Decimal
								li.dropdown__item
									a.dropdown__link Decimal/Fractionan

						.hm-members__select
							p.font--sm.hm-members__select-title Maximum Inactivity Time
							p.hm-members__select-text 3Hours
						.dropdown.hm-members__select-dropdown
							ul.dropdown__wrap
								li.dropdown__item
									a.dropdown__link.dropdown__link--active 20 Minutes
								li.dropdown__item
									a.dropdown__link 1 Hours