.ip-market{
	//background-color: $third;
	
	&__few{
		@include flex;
		width: 100%;
	}
	&__subblock{
		flex: 1 1 100%;
	}

	&__header{
		@include flex(space-between, center);
		padding: 5px 10px;
		background-color: $fourth;
		&--soccer{
			background-color: #006b0d;
		}
		&--tennis{
			background-color: #466d06;
		}
	}
	&__wrap{
		@include flex(center, center);
	}
	&__link{
		margin: 0 5px;
		cursor: pointer;
		&:hover,
		&--active{
			color: #fff;
		}
	}
	&__coupon-link{
		margin: 0 3px;
		&:hover,
		&--active{
			color: $primary;
		}
	}
	&__subheader{
		@include flex(flex-start, center);
		background-color: #000;
		height: $base-height;
		.ip-market{
			&__label{
				flex: 1 1 100%;
				padding: 2px 0;
			}
		}
	}
	&__text{
		color: #fff;
		padding: 0 10px;
	}
	&__head{
		@include flex(center, stretch);
		margin-right: 50px;
		margin-left: auto;
		height: 100%;
		&-link{
			position: relative;
			padding: 3px;
			margin: 0 3px;
			color: $m-white;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -4px;
				height: 2px;
				width: 0;
				background-color: #fff;
			}
			&:hover{
				color: #fff;
			}
			&--active{
				color: #fff;
				&:after{
					width: 100%;
				}
			}
		}
	}

	&__league{
		@include flex(flex-start, center);
		background-color: #000;
		padding: 5px 0;
		height: $base-height;
		cursor: pointer;
		position: relative;
		margin-bottom: 1px;
		&:hover,
		&--active{
			opacity: 0.99;
			.ip-market{
				&__favourite,
				&__drop{
					display: block;
				}
			}
		}

		&--primary{
			background-color: $primary;
		}
		&--favourite{
			.ip-market__favourite{
				display: block;
				color: $second;
			}
		}

		.link-dropdown{
			color: $second;
			margin-left: 10px;
			&:after{
				color: $second;
			}
			&:hover,
			&--active{
				color: #fff;
				&:after{
					color: #fff;
				}
			}
			.dropdown{
				//display: block;
				left: 0;
				right: auto;
				&__item{
					*{
						color: #000;
					}
				}
			}
		}

	}
	&__left,
	&__center,
	&__right{
		//border: 1px solid red;
	}
	&__left{
		@include flex(flex-start, center);
		flex: 1 0 calc(44% - 50px);
		max-width: calc(44% - 50px);
		padding-left: 10px;
	}
	&__center{
		@include flex(space-between, stretch);
		width: 55%;
		flex: 1 0 55%;
		flex-wrap: wrap;
	}
	&__right{
		@include flex(center, center, column);
		flex: 1 0 50px;
		width: 50px;
		text-align: center;
	}
	&__table{
		@include flex(space-between, stretch);
		border-bottom: 1px solid $third;
		.ip-market{
			&__label{
				flex: 1 1 100%;
				@include flex(space-between, stretch, column);
				.ip-market{
					&__btn{
						border-bottom: 0;
						border-right: 0;
						&:last-child{
							border-bottom: 0;
						}
					}
				}

				&:first-child{
					.ip-market{
						&__btn{
							border-left: 0;
						}
					}
				}
				&:last-child{
					.ip-market{
						&__btn{
							border-right: 0;
						}
					}
				}
			}
			&__row{
				@include flex;
				flex-grow: 1;
			}
			&__left{
				padding-top: 5px;
				padding-bottom: 5px;
			}
			&__center{
				flex-direction: column;
				background-color: #fff;
				border-left: 1px solid $third;
				border-right: 1px solid $third;

				.link-dropdown{
					display: inline-block;
					&:hover,
					&--active{
						color: #000;
						&:after{
							color: #000;
						}
					}

					.dropdown{
						left: 0;
						transform: translateX(-10px);
					}
				}
			}
			&__right{
				padding-top: 5px;
			}
			&__icon{
				color: #000;
			}
		}
	}
	&__group{
		@include flex(center,center);
		.wrap{
			flex: 1;
			padding: 20px;
			display: block;
			text-align: center;
			&--last{
				max-width: 120px;
			}
		}
		.rangeWrapper{
			width: 100%;
			margin-top: 10px;
		}
	}
	&__body{
		background-color: #f2f2f2;
	}
	&__block{
		width: 100%;
		padding: 5px 10px;
		&:after{
			color: #000;
		}
	}
	&__label{
		width: 33.33333%;
		text-align: center;
		&--left{
			text-align: left;
		}
	}
	&__icon{
		color: #fff;
		font-size: 14px;
		&:hover,
		&--active{
			color: $primary;
		}
	}
	&__flag{
		@include size(20px, 18px);
		margin-right: 5px;
	}
	&__time{
		width: 75px;
		text-align: left;
	}
	&__info{
		width: calc(100% - 200px);
		margin-left: 0;
		margin-right: auto;
		.team{
			&-name{
				flex: 1 1 100%;
				padding-left: 12px;
				position: relative;
				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					height: 5px;
					width: 5px;
					transform: translateY(-50%);
				}
				&--home{
					&:before{
						background-color: $primary;
					}
				}
				&--away{
					&:before{
						background-color: $sixth;
					}
				}
			}
			&-score{
				width: 40px;
			}
		}
	}
	&__score{
		text-align: right;
		padding-right: 10px;
		.tennis-ss{
			&__column{
				padding: 0 3px;
			}
		}
	}
	&__option{
		@include flex(center, flex-start, column);
		width: 45px;
		min-height: 50px;
		*{
			margin: 2px;
		}
	}
	&__btn{
		flex: 1;
		border: 1px solid $third;
		&--disabled{
			pointer-events: none;
			background-color: #f2f2f2;
		}
		&--left{
			justify-content: flex-start;
		}
		&--small{
			flex: auto;
			height: 30px;
		}
		&--b-none{
			border-left: 0;
			border-right: 0;
		}
	}
	&__more{
		@include flex(center, center);
		&:hover,
		&--active{
			*{
				color: $primary;
			}
		}
		*{
			margin: 2px;
		}
	}
		
	&__alert{
		padding: 15px 0;
		background-color: $fourth;
	}

	&__favourite,
	&__drop{
		display: none;
		cursor: pointer;
		font-family: "Font Awesome 5 Pro";
		color: #fff;
		&:hover,
		&--active{
			color: $second;
		}
	}

	&__favourite{
		@include absolute-center-right(30px);
		font-weight: 900;
		font-size: 12px;
		&:after{
			content: '\f005';
		}
	}

	&__drop{
		@include absolute-center-right(10px);
		&:after{
			content: '\f107';
		}
	}

	&__update{
		position: relative;
		padding-left: 20px;
		margin-right: 10px;
		margin-left: auto;
		&:after{
			@include absolute-center-left(0);
			content: '\f0ec';
			font-family: "Font Awesome 5 Pro";
			font-weight: 500;
			color: #fff;
		}
	}

	&__volume,
	&__play{
		color: #fff;
		margin-right: auto;
		margin-left: 0;
		font-size: 14px;
		cursor: pointer;
	}

	.tennis-ss{
		@include flex(flex-start, center);
		&__column{
			padding: 0 3px;
			text-align: right;
		}
	}


	.link-dropdown{
		display: flex;
		align-items: center;
		padding: 0 15px 0 0;
		&:after{
			color: $m-white;
		}
		&:hover,
		&--active{
			color: #fff;
			&:after{
				color: #fff;
			}
		}
		.dropdown{
			padding-top: 6px;
			transform: translateX(10px);
			&__item{
				*{
					color: #000;
				}
			}
		}
	}
}