mixin modal-alert
	.modal.modal--alert&attributes(attributes)
		p.font--lg You need to allow notifications in Chrome
		p.font Select 'Secure' at the beginning of the URL address bar, select the 'Notifications' drop-down, select allow.
		button.btn.btn--primary Ok