.ip-classification-bar{
	height: 70px;
	position: relative;
	background-color: $fourth;
	&--small{
		height: $base-height;
		.ip-slider{
			&__item{
				width: auto;
				height: 100%;
				padding: 0 10px;
				@include flex(center, center);
			}
			&__text{
				height: auto;
				padding: 0;
			}
		}
	}
	&__wrap{
		height: 100%;
		overflow: hidden;
		padding: 0 30px;
		@include flex(flex-start, stretch);
	}

	&__item{
		@include size(100px, 100%);
		text-align: center;
		min-width: 100px;
		&:hover,
		&--active{
			.ip-classification-bar{
				&__text{
					color: $second;
				}
				&__img{
					&--favourite{
						&:before{
							background-color: $second;
						}
						i{
							color: $second;
						}
					}
					&--soccer{
						background-image: url('../img/icon/active/Soccer-y.svg');
					}
					&--tennis{
						background-image: url('../img/icon/active/Tennis-y.svg');
					}
					&--baseball{
						background-image: url('../img/icon/active/Baseball-y.svg');
					}
					&--cricket{
						background-image: url('../img/icon/active/Cricket-y.svg');
					}
					&--basketball{
						background-image: url('../img/icon/active/Basketball-y.svg');
					}
					&--volleyball{
						background-image: url('../img/icon/active/Volleyball-y.svg');
					}
					&--table_tennis{
						background-image: url('../img/icon/active/Table_Tennis-y.svg');
					}
					&--horse_racing{
						background-image: url('../img/icon/active/Horse_Racing-y.svg');
					}
				}
			}	
		}
	}

	&__text{
		height: 40%;
		padding: 5px 5px 0 5px;
		color: #4a4b4a;
	}
	&__img{
		height: 60%;
		width: 100%;
		background-position: 50% 100%;
		background-repeat: no-repeat;
		background-size: contain;
		i{
			color: #4a4b4a;
			font-size: 24px;
			margin-top: 2px;
			display: inline-flex;
		}
		&--favourite{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: 20%;
				right: 20%;
				bottom: 0;
				height: 1px;
				background-color: #4a4b4a;
			}
		}
		&--soccer{
			background-image: url('../img/icon/custom/Soccer.svg');
		}
		&--tennis{
			background-image: url('../img/icon/custom/Tennis.svg');
		}
		&--baseball{
			background-image: url('../img/icon/custom/Baseball.svg');
		}
		&--cricket{
			background-image: url('../img/icon/custom/Cricket.svg');
		}
		&--basketball{
			background-image: url('../img/icon/custom/Basketball.svg');
		}
		&--volleyball{
			background-image: url('../img/icon/custom/Volleyball.svg');
		}
		&--table_tennis{
			background-image: url('../img/icon/custom/Table_Tennis.svg');
		}
		&--horse_racing{
			background-image: url('../img/icon/custom/Horse_Racing.svg');
		}

	}

	&__prev,
	&__next{
		@include flex(center,center);
		background-color: $primary;
		position: absolute;
		width: 30px;
		top: 0;
		bottom: 0;
		border: 0;
		opacity: 0.7;
		&:hover,
		&--active{
			opacity: 1;
		}
		i{
			color: #fff;
			font-size: 24px;
		}
	}
	&__prev{
		left: 0;
	}
	&__next{
		right: 0;
	}
}