mixin ip-classification-bar
	.ip-classification-bar&attributes(attributes)
		button.ip-classification-bar__prev
			i.fal.fa-angle-left
		button.ip-classification-bar__next
			i.fal.fa-angle-right
		.ip-classification-bar__wrap
			a.ip-classification-bar__item
				p.font--l-white.ip-classification-bar__text Favourites
				.ip-classification-bar__img
					i.fal.fa-star
			each item, index in g_sports
				a.ip-classification-bar__item(class=(index==3 ? "ip-classification-bar__item--active" : ""))
					p.font--l-white.ip-classification-bar__text= item
					.ip-classification-bar__img
						.b-sports(class="b-sports--"+item.toLowerCase())