$checkbox:(
	size: 12px
);

.checkbox{
	cursor: pointer;
	min-height: map-get($checkbox, size);
	min-width: 	map-get($checkbox, size);
	height: 	map-get($checkbox, size);
	width: 		map-get($checkbox, size);
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		border: 0;
		background: $third;
		width: 	map-get($checkbox, size);
		height: map-get($checkbox, size);
	}
	&:after{
		content: "\2713";
		position: absolute;
		color: #000;
		font-weight: bold;
		font-size: 11px;
		opacity: 0;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&:checked{
		&:after{
			opacity: 1;
		}
		&:before{
			background-color: $primary;
		}
	}
	&:focus,
	&:hover{
		border: 0;
		outline: 0;
	}
	&--white{
		&:before{
			border: 1px solid #fff;
		}
		&:after{
			color: #fff;
		}
	}
}