.range {
  width: 100%;
  -webkit-appearance: none;
  background-color: $fourth;
  border-radius: 3px;
  margin: 0;
  &::-webkit-slider-runnable-track{
    height: 2px;
    -webkit-appearance: none;
  }
  &::-webkit-slider-thumb {
  	-webkit-appearance: none;
  	cursor: pointer;
  	width: 10px;
    height: 10px;
    z-index: 1;
    margin-top: -4px;
  	border-radius: 100%;
  	background-color: $primary;
  }
  &::-moz-range-progress {
    background-color: $primary;
  }
  &::-moz-range-track {
    background-color: $fourth;
  }
  &::-ms-fill-lower {
    background-color: $primary;
  }
  &::-ms-fill-upper {
    background-color: $fourth;
  }
  &--big{
    &::-webkit-slider-runnable-track{
      height: 8px;
      background-color: #fff;
      border: 1px solid #000;
    }
    &::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      margin-top: -8px;
    }
    &::-moz-range-progress {
      background-color: $primary;
    }
  }
}


.rangeWrapper{
  position: relative;
}

.rangeScale{
  padding: 5px 5px 0 5px;
  &__item{
    cursor: pointer;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      height: 5px;
      width: 1px;
      background-color: #000;
      transform: translate(-50%, -120%);
    }
  }
}