$toggle-big:(
	background-color: $third,
	background-toggle: $primary,
	width: 70px,
	height: $base-height
);

$toggle-small:(
	background-color: $fourth,
	background-toggle: $primary,
	width: 25px,
	height: 13px
);

.toggle{
	position: relative;
	cursor: pointer;
	&:before{
		content: '';
		position: absolute;
		left: 1px;
		top: 1px;
		bottom: 1px;
		border-radius: 100%;
		transition: $default-transition;
	}
	&:hover,
	&--active{
		&:before{
			left: auto;
			right: 1px;
		}
	}
	&--big{
		width: map-get($toggle-big, width);
		height: map-get($toggle-big, height);
		border-radius: map-get($toggle-big, height);
		background-color: map-get($toggle-big, background-color);
		&:before{
			width: map-get($toggle-big, height) - 2px;
			background-color: map-get($toggle-big, background-toggle);
		}
	}
	&--small{
		width: map-get($toggle-small, width);
		height: map-get($toggle-small, height);
		border-radius: map-get($toggle-small, height);
		background-color: map-get($toggle-small, background-color);
		&:before{
			width: map-get($toggle-small, height) - 2px;
			background-color: map-get($toggle-small, background-toggle);
		}
	}
}