$base-font-color: #000;
$base-font-size: 14px;
$base-font-line-height: 1.3;
$base-font-weight: 400;
$base-font-family: Verdana, Geneva, Arial, sans-serif;


$min-width: 1024px;
$max-width: 100%;


$base-height: 34px;
$base-margin: 7px;
$base-background-color: #fff;
$default-transition: all 0.2s linear;


$white: 	rgba(255,255,255,1);
$l-white: 	rgba(255,255,255,0.8);
$m-white: 	rgba(255,255,255,0.6);
$d-white: 	rgba(255,255,255,0.3);

$primary: 	#4ba8ad;
$second: 	#f0f300;
$third:		#bebebe;
$fourth: 	#333333;
$fifth: 	#f00;


$sixth: 	#212121;