mixin hm-search
	.hm-search&attributes(attributes)
		input(type="text", placeholder="Search").field.hm-search__field
		.hm-search__wrap
			button.btn.btn--square.btn--primary.hm-search__btn
				i.far.fa-microphone-alt
			button.btn.btn--square.btn--primary.hm-search__btn
				i.fal.fa-times