mixin button-coff(name)
	button.btn.btn--coff&attributes(attributes)
		if name
			span.btn__name= name
		span.btn__odds 1.95


mixin button-arrow
	button.btn.btn--coff&attributes(attributes)
		span.btn__text 1.95
		i.fal.fa-angle-right


mixin button-arrow-img(icon)
	button.btn.btn--coff.btn--img&attributes(attributes)
		if(!icon)
			i.btn__img.s-sports(class="s-sports--soccer")
		else
			i.btn__img.s-sports(class="s-sports--"+icon)
		span.btn__text-e Upcoming Events
		i.fal.fa-angle-right