.ip-schedule{
	&__row{
		@include flex(flex-start, center);
		height: $base-height;
		cursor: pointer;
		border-bottom: 1px solid $third;
		&:last-child{
			border-bottom: 0;
		}
		&:hover,
		&--active{
			&:not(.ip-schedule__row--title){
				background-color: lighten($third, 5%);
			}
		}
		&--title {
			background-color: $fourth;
		}
	}

	&__cell{
		padding: 10px;
		&--name{
			width: 60%;
		}
		&--category{
			width: 20%
		}
		&--play{
			width: 40%
		}
		&--icon{
			width: 5%;
		}
		&--time{
			width: 10%;
		}
		&--channel{
			width: 25%;
		}

		.sort-icon{
			cursor: pointer;
			margin: 0 auto;
			display: block;
			color: #000;
			max-width: 20px;
			&--light{
				color: #fff;
			}
			&:hover,
			&--active{
				color: $primary;
			}
		}

		.link-dropdown{
			display: inline-flex;
			width: auto;
			&:after{
				color: #fff;
			}
		}

		.dropdown{
			&--left{
				left: 0;
			}
			&--right{
				right: 0;
			}
		}
	}


	&__message{
		padding: 30px 10px;
		//background-color: $third;
		border-bottom: 1px solid darken($third, 5%);
	}

	&__slider{
		height: 40px;
		background-color: $fourth;
		position: relative;
	}

	&__wrap{
		height: 100%;
		padding: 0 25px;
		@include flex(flex-start, center);
	}

	&__btn{
		@include flex(center, center);
		height: 100%;
		position: relative;
		color: $m-white;
		cursor: pointer;
		padding: 0 5px;
		margin: 0 5px;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 3px;
			width: 0;
			background-color: #fff;
			transition: $default-transition;
		}
		&:hover{
			color: #fff;
		}
		&--active{
			color: #fff;
			&:before{
				width: 100%;
			}
		}
	}

	&__prev,
	&__next{
		@include flex(center,center);
		background-color: darken($fourth, 5%);
		position: absolute;
		width: 25px;
		top: 0;
		bottom: 0;
		border: 0;
		cursor: pointer;
		&:hover,
		&--active{
			opacity: 1;
		}
		i{
			color: #fff;
			font-size: 18px;
		}
	}
	&__prev{
		left: 0;
		border-right: 1px solid rgba(0,0,0,0.5);
	}
	&__next{
		right: 0;
		border-left: 1px solid rgba(0,0,0,0.5);
	}
}