mixin ip-schedule
	.ip-schedule&attributes(attributes)
		.ip-schedule__table
			.ip-schedule__row.ip-schedule__row--title
				.ip-schedule__cell.ip-schedule__cell--name
					.link-dropdown
						p.font--white.text-ellipsis Tuesday 22/10
						.dropdown.dropdown--left
							ul.dropdown__wrap.scroll
								li.dropdown__item
									.dropdown__link.dropdown__link--active
										p.text-ellipsis Wednasday 23/10
								li.dropdown__item
									.dropdown__link
										p.text-ellipsis Wednasday 23/10

				.ip-schedule__cell.ip-schedule__cell--icon
					.s-icon.s-icon--play-v2.sort-icon
				.ip-schedule__cell.ip-schedule__cell--icon
					.fal.fa-volume-up.sort-icon.sort-icon--light
				.ip-schedule__cell.ip-schedule__cell--time
					p.font--white Time
				.ip-schedule__cell.ip-schedule__cell--channel
					.link-dropdown
						p.font--white.text-ellipsis Channel
						.dropdown.dropdown--right
							ul.dropdown__wrap.scroll
								li.dropdown__item
									.dropdown__link.dropdown__link--active
										p.text-ellipsis All
								li.dropdown__item
									.dropdown__link
										p.text-ellipsis Live
								li.dropdown__item
									.dropdown__link
										p.text-ellipsis Live at bet


			- var a = 0;
			while a < 10
				.ip-schedule__row(data=a++)
					.ip-schedule__cell.ip-schedule__cell--name
						p Millwall v Cardiff
					.ip-schedule__cell.ip-schedule__cell--icon
						.s-icon.s-icon--play.sort-icon
					.ip-schedule__cell.ip-schedule__cell--icon
						.fal.fa-volume-up.sort-icon
					.ip-schedule__cell.ip-schedule__cell--time
						p 19:45
					.ip-schedule__cell.ip-schedule__cell--channel
						p Live at bet365
				


mixin ip-schedule-2
	.ip-schedule&attributes(attributes)
		.ip-schedule__row.ip-schedule__row--title
			.ip-schedule__cell.ip-schedule__cell--name
				.link-dropdown.flex.align-middle.full-height
					p.font--white.text-ellipsis Tuesday 22/10
					.dropdown.dropdown--left
						ul.dropdown__wrap.scroll
							li.dropdown__item
								.dropdown__link.dropdown__link--active
									p.text-ellipsis Wednasday 23/10
							li.dropdown__item
								.dropdown__link
									p.text-ellipsis Wednasday 23/10
			.ip-schedule__cell.ip-schedule__cell--icon
				.s-icon.s-icon--play-v2.sort-icon
			.ip-schedule__cell.ip-schedule__cell--icon
				.fal.fa-volume-up.sort-icon.sort-icon--light
			.ip-schedule__cell.ip-schedule__cell--time
				p.font--white Time
			.ip-schedule__cell.ip-schedule__cell--channel
				.link-dropdown.flex.align-middle.full-height
					p.font--white.text-ellipsis Channel
					.dropdown.dropdown--right
						ul.dropdown__wrap.scroll
							li.dropdown__item
								.dropdown__link.dropdown__link--active
									p.text-ellipsis All
							li.dropdown__item
								.dropdown__link
									p.text-ellipsis Live
							li.dropdown__item
								.dropdown__link
									p.text-ellipsis Live at bet
		- var a = 0;
			while a < 10
				.ip-schedule__row(data=a++)
					.ip-schedule__cell.ip-schedule__cell--category
						p Soccer
					.ip-schedule__cell.ip-schedule__cell--play
						p 8.38 Henlow EVE (RACE 9)
					.ip-schedule__cell.ip-schedule__cell--icon
						.s-icon.s-icon--play.sort-icon
					.ip-schedule__cell.ip-schedule__cell--icon
						.fal.fa-volume-up.icon.sort-icon
					.ip-schedule__cell.ip-schedule__cell--time
						p 19:45
					.ip-schedule__cell.ip-schedule__cell--channel
						p Live at bet365



mixin ip-schedule-message
	.ip-schedule__message&attributes(attributes)
		.text-center
			p Sorry, there are no events available for your chosen sport on this date


mixin ip-schedule-slider
	.ip-schedule__slider&attributes(attributes)
		.ip-schedule__prev
			i.fal.fa-angle-left
		.ip-schedule__wrap
			.ip-schedule__btn.ip-schedule__btn--active All Sports
			.ip-schedule__btn Soccer
		.ip-schedule__next
			i.fal.fa-angle-right