mixin gl-market-table
	.gl-market-table&attributes(attributes)
		.gl-market-table__column
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white Wed 30 Oct
			.gl-market-table__cell
				p 22:00
				a(href="#").gl-market-table__link Athletic Bilbao v Espanyol  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad maiores deleniti quaerat voluptas tempore sapiente perferendis libero est repellat labore, inventore temporibus adipisci similique repudiandae repellendus soluta animi fuga quidem.
				.gl-market-table__wrap
					.fal.fa-stopwatch.gl-market-table__icon
					.fal.fa-signa.gl-market-table__icon
			.gl-market-table__cell
				p 22:00
				a(href="#").gl-market-table__link Athletic Bilbao v Espanyol
				.gl-market-table__wrap
					.fal.fa-stopwatch.gl-market-table__icon
					.fal.fa-volume-up.gl-market-table__icon
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white Wed 30 Oct
			.gl-market-table__cell
				p 22:00
				a(href="#").gl-market-table__link Athletic Bilbao v Espanyol
				.gl-market-table__wrap
					.fal.fa-stopwatch.gl-market-table__icon
					.fal.fa-signa.gl-market-table__icon

		.gl-market-table__column.gl-market-table__column--12-3333
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white 1
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(15.3)
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white 1
			.gl-market-table__cell
				+button-coff(11)

		.gl-market-table__column.gl-market-table__column--12-3333
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white X
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white X
			.gl-market-table__cell
				+button-coff(1)

		.gl-market-table__column.gl-market-table__column--12-3333
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white 2
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white 2
			.gl-market-table__cell
				+button-coff(1)

		.gl-market-table__column.gl-market-table__column--50
			.gl-market-table__cell.gl-market-table__cell--head
			.gl-market-table__cell
				+button-arrow
			.gl-market-table__cell
				+button-arrow
			.gl-market-table__cell.gl-market-table__cell--head
			.gl-market-table__cell
				+button-arrow