mixin gl-market-table
	.gl-market-table&attributes(attributes)
		.gl-market-table__column
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white Wed 30 Oct
			.gl-market-table__cell
				p 22:00
				a(href="#").gl-market-table__link Athletic Bilbao v Espanyol  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad maiores deleniti quaerat voluptas tempore sapiente perferendis libero est repellat labore, inventore temporibus adipisci similique repudiandae repellendus soluta animi fuga quidem.
				.gl-market-table__wrap
					.fal.fa-stopwatch.gl-market-table__icon
					.fal.fa-signa.gl-market-table__icon
			.gl-market-table__cell
				p 22:00
				a(href="#").gl-market-table__link Athletic Bilbao v Espanyol
				.gl-market-table__wrap
					.fal.fa-stopwatch.gl-market-table__icon
					.fal.fa-volume-up.gl-market-table__icon
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white Wed 30 Oct
			.gl-market-table__cell
				p 22:00
				a(href="#").gl-market-table__link Athletic Bilbao v Espanyol
				.gl-market-table__wrap
					.fal.fa-stopwatch.gl-market-table__icon
					.fal.fa-signa.gl-market-table__icon

		.gl-market-table__column.gl-market-table__column--12-3333
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white 1
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(15.3)
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white 1
			.gl-market-table__cell
				+button-coff(11)

		.gl-market-table__column.gl-market-table__column--12-3333
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white X
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white X
			.gl-market-table__cell
				+button-coff(1)

		.gl-market-table__column.gl-market-table__column--12-3333
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white 2
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white 2
			.gl-market-table__cell
				+button-coff(1)

		.gl-market-table__column.gl-market-table__column--50
			.gl-market-table__cell.gl-market-table__cell--head
			.gl-market-table__cell
				+button-arrow
			.gl-market-table__cell
				+button-arrow
			.gl-market-table__cell.gl-market-table__cell--head
			.gl-market-table__cell
				+button-arrow

mixin gl-market-table-2
	.gl-market-table.gl-market-table--league&attributes(attributes)
		.gl-market-table__column.gl-market-table__column--27
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white England Premier League
			.gl-market-table__cell
				p.gl-market-table__count 1
				p.gl-market-table__text Liverpool
			.gl-market-table__cell
				p.gl-market-table__count 2
				p.gl-market-table__text Athletic Bilbao
			.gl-market-table__cell
				p.gl-market-table__count 3
				p.gl-market-table__text Espanyol

		.gl-market-table__column.gl-market-table__column--4
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white P
			.gl-market-table__cell
				p.gl-market-table__text 12
			.gl-market-table__cell
				p.gl-market-table__text 12
			.gl-market-table__cell
				p.gl-market-table__text 12

		.gl-market-table__column.gl-market-table__column--4
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white W
			.gl-market-table__cell
				p.gl-market-table__text 1
			.gl-market-table__cell
				p.gl-market-table__text 2
			.gl-market-table__cell
				p.gl-market-table__text 3

		.gl-market-table__column.gl-market-table__column--4
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white D
			.gl-market-table__cell
				p.gl-market-table__text 1
			.gl-market-table__cell
				p.gl-market-table__text 2
			.gl-market-table__cell
				p.gl-market-table__text 3

		.gl-market-table__column.gl-market-table__column--4
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white L
			.gl-market-table__cell
				p.gl-market-table__text 1
			.gl-market-table__cell
				p.gl-market-table__text 2
			.gl-market-table__cell
				p.gl-market-table__text 3

		.gl-market-table__column.gl-market-table__column--4
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white F
			.gl-market-table__cell
				p.gl-market-table__text 21
			.gl-market-table__cell
				p.gl-market-table__text 22
			.gl-market-table__cell
				p.gl-market-table__text 23

		.gl-market-table__column.gl-market-table__column--4
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white +/-
			.gl-market-table__cell
				p.gl-market-table__text 11
			.gl-market-table__cell
				p.gl-market-table__text 22
			.gl-market-table__cell
				p.gl-market-table__text 23

		.gl-market-table__column.gl-market-table__column--4
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white Pts
			.gl-market-table__cell
				p.gl-market-table__text 31
			.gl-market-table__cell
				p.gl-market-table__text 22
			.gl-market-table__cell
				p.gl-market-table__text 43

		.gl-market-table__column.gl-market-table__column--12-3333
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white Win
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(1)

		.gl-market-table__column.gl-market-table__column--12-3333
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white Top 4
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(1)

		.gl-market-table__column.gl-market-table__column--12-3333
			.gl-market-table__cell.gl-market-table__cell--head
				p.font--white Relegated
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(1)
			.gl-market-table__cell
				+button-coff(1)