.ool-open-offers{
	&__img{
		overflow: hidden;
		min-height: 150px;
		position: relative;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		@include flex(flex-start, center);
	}
	
	&__wrap{
		padding: 10px 20px;	
	}
	
	&__subtitle{
		color: $second;
		font-size: 18px;
	}
	&__title{
		color: #fff;
		font-size: 20px;
		margin-bottom: 10px;
	}
	&__text{
		color: $m-white;
	}
	&__btn{
		margin-top: 5px;
		padding: 5px 10px;
		background-color: rgba(0,0,0,0);
		color: $second;
		border: 1px solid $second;
		&:hover{
			color: #000;
			background-color: $second;
		}
	}

	&__notes{
		padding: 10px 20px;
		background-color: #000;
	}
}