mixin ool-open-offers
	.ool-open-offers&attributes(attributes)
		.ool-open-offers__img(style="background-image: url('./img/ool-open-offers/1.jpg')")
			.ool-open-offers__wrap
				.ool-open-offers__subtitle New Customers
				.ool-open-offers__title Open Account Offer
				.ool-open-offers__text Up to €25 in Bet Credits
				button.ool-open-offers__btn Join Now

		.ool-open-offers__notes
			p.font--white Returns exclude Bet Credits stake. T&Cs, time limits and exclusions apply