.hm-nav{
	@include flex(space-between, center);
	padding: 0 10px;
	&--primary{
		@include size(100%, 80px);
		background-color: $primary;
	}
	&--second{
		@include size(100%, $base-height);
		background-color: $fourth;
		border-top: 1px solid $fourth;
	}
}