mixin slm-market
	.slm-market&attributes(attributes)
		+slm-market-header


mixin slm-market-header
	.slm-market__header&attributes(attributes)
		p.font--white Soccer
		.slm-market__time
			a.slm-market__time-link.slm-market__time-link--active Next 24 hrs
			hr.slm-market__divider
			a.slm-market__time-link All

		+slm-market-alert


mixin slm-market-alert
	.slm-market__alert&attributes(attributes)
		.slm-market__alert-wrap
			.slm-market__alert-count 1
			.slm-market__alert-text Selection
			button.btn.btn--primary.slm-market__alert-btn Create Coupon
