mixin hm-login
	.hm-login&attributes(attributes)
		.hm-login__wrap
			input(type="text", placeholder="Username").field.hm-login__field
			a(href="#").font--xs.hm-login__link Join
		.hm-login__wrap
			input(type="text", placeholder="Password").field.hm-login__field
			a(href="#").font--xs.hm-login__link Lost login?
		.hm-login__wrap
			a(href="#").btn.btn--square.hm-login__btn
				i.fal.fa-angle-right.icon