.b-sports{
	//border: 1px solid red;
	height: 30px;
	width: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	&--soccer{
		background-image: url('../img/icon/custom/Soccer.svg');
		&:hover{
			background-image: url('../img/icon/active/Soccer-y.svg');
		}
	}
	&--tennis{
		background-image: url('../img/icon/custom/Tennis.svg');
		&:hover{
			background-image: url('../img/icon/active/Tennis-y.svg');
		}
	}
	&--baseball{
		background-image: url('../img/icon/custom/Baseball.svg');
		&:hover{
			background-image: url('../img/icon/active/Baseball-y.svg');
		}
	}
	&--cricket{
		background-image: url('../img/icon/custom/Cricket.svg');
		&:hover{
			background-image: url('../img/icon/active/Cricket-y.svg');
		}
	}
	&--basketball{
		background-image: url('../img/icon/custom/Basketball.svg');
		&:hover{
			background-image: url('../img/icon/active/Basketball-y.svg');
		}
	}
	&--volleyball{
		background-image: url('../img/icon/custom/Volleyball.svg');
		&:hover{
			background-image: url('../img/icon/active/Volleyball-y.svg');
		}
	}
	&--table_tennis{
		background-image: url('../img/icon/custom/Table_Tennis.svg');
		&:hover{
			background-image: url('../img/icon/active/Table_Tennis-y.svg');
		}
	}
	&--horse_racing{
		background-image: url('../img/icon/custom/Horse_Racing.svg');
		&:hover{
			background-image: url('../img/icon/active/Horse_Racing-y.svg');
		}
	}
}