.s-icon{
	width: 18px;
	height: 12px;
	border: none;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	z-index: 1;
	&--field{
		background-image: url(../img/icon-sport/ML1BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML1.svg);
		}
	}
	&--field-v2{
		background-image: url(../img/icon-sport/ML1BW-v2.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML1.svg);
		}
	}
	&--play{
		background-image: url(../img/icon-sport/MLVideoBW.svg);
		&:hover{
			background-image: url(../img/icon-sport/MLVideo.svg);
		}
	}
	&--play-v2{
		background-image: url(../img/icon-sport/MLVideo-v2.svg);
		&:hover{
			background-image: url(../img/icon-sport/MLVideo-v2.svg);
		}
	}
	&--cricket{
		background-image: url(../img/icon-sport/ML3BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML3.svg);
		}
	}
	&--golf{
		background-image: url(../img/icon-sport/ML7BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML7.svg);
		}
	}
	&--tennis{
		background-image: url(../img/icon-sport/ML13BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML13Grass.svg);
		}
	}
	&--tennis-2{
		background-image: url(../img/icon-sport/ML13BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML13Clay.svg);
		}
	}
	&--tennis-3{
		background-image: url(../img/icon-sport/ML13BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML13Hard.svg);
		}
	}
	&--baseball{
		width: 19px;
		height: 19px;
		background-image: url(../img/icon-sport/ML16BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML16.svg);
		}
	}
	&--basketball{
		background-image: url(../img/icon-sport/ML18BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML18.svg);
		}
	}
	&--volleyball{
		background-image: url(../img/icon-sport/ML91BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML91.svg);
		}
	}
	&--gandball{
		background-image: url(../img/icon-sport/ML78BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML78.svg);
		}
	}
	&--hockey{
		background-image: url(../img/svg/icon-sport/ML17BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML17.svg);
		}
	}
	&--darts{
		height: 23px;
		background-image: url(../img/icon-sport/ML15BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML15.svg);
		}
	}
	&--a-football{
		background-image: url(../img/icon-sport/ML36BW.svg);
		&:hover{
			background-image: url(../img/icon-sport/ML36.svg);
		}
	}
}