$s-sports-left: -3px;

.s-sports{
	@include size(20px);
	background-repeat: no-repeat;
	background-image: url('../img/icon/icon_mobile.png');
	&--soccer{
		background-position: $s-sports-left -12px;
	}
	&--tennis{
		background-position: $s-sports-left -106px;
	}
	&--basketball{
		background-position: $s-sports-left -738px;
	}
}