.scroll{
	overflow-x: hidden;
	overflow-y: auto;
	&::-webkit-scrollbar{
		width: 8px
	}
	&::-webkit-scrollbar-corner{
		background-color: #474747
	}
	&::-webkit-scrollbar-thumb{
		border-radius: 19px;
		border: 2px solid transparent;
		background-color: #888;
		background-clip: content-box;
	}
	&::-webkit-scrollbar-track{
		background-color: #474747;
		border: 1px solid #373737;
	}
}
.page{
	@include flex(space-between, stretch, column);
	&--full{
		height: 100vh;
		overflow: hidden;
		.main{
			height: calc(100vh - 114px);
		}
		.box{
			height: calc(100vh - 150px);
		}
	}
}
.main,
.wrap,
.box{
	@include flex(center);
	width: 100%;
}
/* .container{
	width: 95%;
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto;
	position: relative;
}
.container-fluid{
	width: 100%;
	min-width: $min-width;
	position: relative;
} 
*/
.content{
	position: relative;
	&--left{
		min-width: 260px;
		max-width: 260px;
	}
	&--right{
		min-width: 320px;
		max-width: 320px;
	}
	&--wide{
		min-width: 550px;
		max-width: 550px;
	}
	&--center{
		min-width: 270px;
		max-width: 100%;
		width: 100%;
	}
	&--main{
		@include flex;
	}
	&__left,
	&__right{
		flex: 1 1 50%;
		width: 50%;
	}
}

.shadow{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
	background-color: rgba(0,0,0,0.5);

	&--v-modal{
		@include flex(center,center);
	}
}