mixin ipe-scoreboard
	.ipe-scoreboard&attributes(attributes)
		+ipe-scoreboard-hide
		+ipe-scoreboard-table-football
		+ipe-scoreboard-table-tennis
		+ipe-scoreboard-table-e-sports
		+ipe-scoreboard-table-snooker
		+ipe-scoreboard-table-cricket

mixin ipe-scoreboard-hide
	.ipe-scoreboard__hide&attributes(attributes)
		p Hide


mixin ipe-scoreboard-table-football
	.ipe-scoreboard__table&attributes(attributes)
		.ipe-scoreboard__container
			.row
				.cell.cell--title.cell--left
					p 45:01
				.cell.cell--left
					p.text-ellipsis.ipe-scoreboard__away FC Arsenal
				.cell.cell--left
					p.text-ellipsis.ipe-scoreboard__home FC Rouen Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa eaque vitae reiciendis quas! Accusamus, aliquam minus optio asperiores et autem tenetur sequi. Quae quod placeat iste, ratione totam beatae!
			.row.row--narrow
				.cell.cell--title
					.ipe-scoreboard__icon.ipe-scoreboard__icon--corner
				.cell
					p 2
				.cell
					p 2
			.row.row--narrow
				.cell.cell--title
					.ipe-scoreboard__icon.ipe-scoreboard__icon--yellow-card
				.cell
					p 2
				.cell
					p 2
			.row.row--narrow
				.cell.cell--title
					.ipe-scoreboard__icon.ipe-scoreboard__icon--red-card
				.cell
					p 2
				.cell
					p 2
			.row.row--narrow
				.cell.cell--title
					.ipe-scoreboard__icon.ipe-scoreboard__icon--penalty
				.cell
					p 2
				.cell
					p 2
			.row.row--narrow
				.cell.cell--title
					.ipe-scoreboard__icon.ipe-scoreboard__icon--goal
				.cell
					p.font--fifth 2
				.cell
					p.font--fifth 2

mixin ipe-scoreboard-table-tennis
	.ipe-scoreboard__table&attributes(attributes)
		.ipe-scoreboard__container
			.row
				.cell.cell--title.cell--left
					p ATP Next Gen Finals
			.row
				.cell.cell--title.cell--right
					p No ADV
		.ipe-scoreboard__container
			.row
				.cell.cell--title.cell--left
					p 45:01
				.cell.cell--left
					p.text-ellipsis.ipe-scoreboard__away FC Arsenal
				.cell.cell--left
					p.text-ellipsis.ipe-scoreboard__home FC Rouen Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa eaque vitae reiciendis quas! Accusamus, aliquam minus optio asperiores et autem tenetur sequi. Quae quod placeat iste, ratione totam beatae!
			.row.row--narrow
				.cell.cell--title
					p 1
				.cell
					p 2
				.cell
					p 2
			.row.row--narrow
				.cell.cell--title
					p 2
				.cell
					p 2
				.cell
					p 2
			.row.row--narrow
				.cell.cell--title
					p 3
				.cell
					p 2
				.cell
					p 2
			.row.row--narrow
				.cell.cell--title
					p 4
				.cell
					p 2
				.cell
					p 2
			.row.row--narrow
				.cell.cell--title
					p 5
				.cell
					p 2
				.cell
					p 2
			.row.row--narrow
				.cell.cell--title
					p Sets
				.cell
					p.font--fifth 2
				.cell
					p.font--fifth 2
			.row.row--narrow
				.cell.cell--title
					p Points
				.cell
					p 40
				.cell
					p 30

mixin ipe-scoreboard-table-e-sports
	.ipe-scoreboard__table&attributes(attributes)
		.ipe-scoreboard__container
			.row
				.cell.cell--title.cell--left
					p 45:01 Round 25
			.row
				.cell.cell--title.cell--right
					p Best of 1
		.ipe-scoreboard__container
			.row
				.cell.cell--title.cell--left

				.cell.cell--left
					p.text-ellipsis.ipe-scoreboard__away FC Arsenal
				.cell.cell--left
					p.text-ellipsis.ipe-scoreboard__home FC Rouen Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa eaque vitae reiciendis quas! Accusamus, aliquam minus optio asperiores et autem tenetur sequi. Quae quod placeat iste, ratione totam beatae!
			.row.row--narrow
				.cell.cell--title
					p 5
				.cell
					p 2
				.cell
					p 2
			.row.row--narrow
				.cell.cell--title
					p Sets
				.cell
					p.font--fifth 2
				.cell
					p.font--fifth 2

mixin ipe-scoreboard-table-snooker
	.ipe-scoreboard__table&attributes(attributes)
		.ipe-scoreboard__container
			.row.row--wide
				.cell.cell--title.cell--left
					p Best of 1

		.ipe-scoreboard__container
			.row
				.cell.cell--title.cell--left
				.cell.cell--left
					p.text-ellipsis.ipe-scoreboard__away FC Arsenal
				.cell.cell--left
					p.text-ellipsis.ipe-scoreboard__home FC Rouen Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa eaque vitae reiciendis quas! Accusamus, aliquam minus optio asperiores et autem tenetur sequi. Quae quod placeat iste, ratione totam beatae!
			.row.row--narrow
				.cell.cell--title
					p Sets
				.cell
					p.font--fifth 2
				.cell
					p.font--fifth 2

mixin ipe-scoreboard-table-cricket
	.ipe-scoreboard__table&attributes(attributes)
		.ipe-scoreboard__container
			.row.row--wide
				.cell.cell--title.cell--left
					p India Women require 5 runs from 57 balls
					
		.ipe-scoreboard__container
			.row
				.cell.cell--left
					p.text-ellipsis.ipe-scoreboard__away West Indies Women
				.cell.cell--left
					p.text-ellipsis.ipe-scoreboard__home West Indies Women
			.row.row
				.cell
					p.font--fifth 194 All Out
				.cell
					p.font--fifth 194/4