include ip-control/ip-control.pug
include ip-classification-bar/ip-classification-bar.pug
include bw-betslip/bw-betslip.pug
include ha-highlights-additional/ha-highlights-additional.pug
include gl-market-table/gl-market-table.pug
include wn-classification/wn-classification.pug
include lv-streaming/lv-streaming.pug
include ip-market/ip-market.pug
include ip-schedule/ip-schedule.pug
include ool-open-offers/ool-open-offers.pug
include im-banners/im-banners.pug
include tc-top-coupons/tc-top-coupons.pug
include wc-home-header/wc-home-header.pug
include ib-info-banner/ib-info-banner.pug
include li-inplay/li-inplay.pug
include ipe-scoreboard/ipe-scoreboard.pug
include ipn-classification/ipn-classification.pug
include ipe-grid/ipe-grid.pug

include slm-market/slm-market.pug
include modal/modal.pug

include ssm-search/ssm-search.pug

include ha-coupon/ha-coupon.pug