.lv-streaming{
	width: 100%;
	&__header{
		@include flex(flex-start, center);
		background-color: #fff;
		height: $base-height;
		.link-dropdown{
			@include flex(flex-start, center);
			padding: 5px 25px 5px 10px;
			width: calc(100% - #{$base-height});
			&:after{
				right: 10px;
			}
		}
		.dropdown{
			left: 0;
			padding-top: 4px;
			&__link{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	&__body{
		@include flex(center, center, column);
		background-color: $fourth;
		height: 300px;
	}

	&__alert{
		text-align: center;
	}
	&__icon{
		min-width: 20px;
		margin-right: 5px;
		margin-top: -2px;
	}
}