mixin lv-streaming
	.lv-streaming&attributes(attributes)
		.lv-streaming__header
			.link-dropdown
				.s-sports.s-sports--tennis.lv-streaming__icon
				p.text-ellipsis Almeria v Cadiz Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis fugit harum ea animi consectetur ratione adipisci quia illo molestiae necessitatibus neque tempora, voluptate cum veniam nesciunt sint dolorum vel quaerat!
				.dropdown
					ul.dropdown__wrap.scroll
						li.dropdown__item
							a.dropdown__link
								.s-sports.s-sports--soccer.lv-streaming__icon
								p.text-ellipsis Almeria v Cadiz
						li.dropdown__item
							a.dropdown__link
								.s-sports.s-sports--soccer.lv-streaming__icon
								p.text-ellipsis Almeria v Cadiz
						li.dropdown__item
							a.dropdown__link.dropdown__link--active
								.s-sports.s-sports--soccer.lv-streaming__icon
								p.text-ellipsis Almeria v Cadiz

			button.btn.btn--square.btn--primary
				i.fal.fa-thumb-tack

		.lv-streaming__body
			.lv-streaming__alert
				p.font--white.font--lg Live Streaming Available
				p.font--white Please log in to view