.li-inplay{
	border: 1px solid red;


	&__header{
		@include flex(space-between, center);
		padding: 5px 10px;
		background-color: $fourth;
		&--soccer{
			background-color: #006b0d;
		}
		&--tennis{
			background-color: #466d06;
		}
	}

	&__league{
		@include flex(flex-start, center);
		background-color: #000;
		padding: 5px 10px;
		height: $base-height;
		cursor: pointer;
	}

	&__flag{
		@include size(20px, 18px);
		margin-right: 5px;
	}

	&__event{
		&-header{
			@include flex(space-between, center);
			padding: 5px 30px 5px 10px;
			background-color: #fff;
			position: relative;
			cursor: pointer;
			height: $base-height;
			&:hover{
				.li-inplay__event-header-text{
					color: $primary;
				}
			}
			&--closed{
				.li-inplay__event-header-icon{
					display: none;
				}
				&:hover{
					.li-inplay__event-header-icon{
						display: block;
					}
				}
			}
			&-wrap{
				@include flex(flex-start, center);
				margin-left: 10px;
			}
			&-score{
				margin-right: 10px;
				color: $fifth;
				font-weight: bold;
			}
			&-time{
				
			}
			&-s-icon{
				margin-left: 10px;
				margin-right: auto;
			}
			&-icon{
				@include absolute-center-right(10px);
				cursor: pointer;
				color: rgba(0,0,0,0.5);
				&:after{
					content: '\f107';
					font-family: "Font Awesome 5 Pro";
				}
				&:hover{
					color: rgba(0,0,0,1);
				}
			}
		}
		&-table{
			@include flex(space-between, center);
			&--column{
				flex-direction: column;
				.li-inplay__event-table-btn{
					border-bottom: 0;
					&:last-child{
						border-bottom: 1px solid $third;;
					}
				}
			}
			&-btn{
				flex: 1;
				border: 1px solid $third;
				border-right: 0;
			}
		}
	}

}