mixin li-inplay-header
	.li-inplay__header.li-inplay__header--soccer&attributes(attributes)
		p.font--white Soccer
		p.font--white 46 Events

mixin li-inplay-league
	.li-inplay__league&attributes(attributes)
		img(src="../img/icon-country/gb.png", alt="").li-inplay__flag
		p.font--white England National League


mixin li-inplay-event-header(icon)
	.li-inplay__event-header&attributes(attributes)
		p.text-ellipsis.li-inplay__event-header-text Antigua & Barbuda Premier Division
		if (icon)
			.s-icon.s-icon--play.li-inplay__event-header-s-icon
		.li-inplay__event-header-wrap
			.text-nowrap.li-inplay__event-header-score 1:1
			.text-nowrap.li-inplay__event-header-time 71-04
		.li-inplay__event-header-icon


mixin li-inplay-event-table(number)
	.li-inplay__event-table&attributes(attributes)
		- var n = 0;
		while n < number
			+button-coff(n++).li-inplay__event-table-btn