mixin hm-submenu
	.hm-submenu&attributes(attributes)
		.hm-submenu__item
			a.font--white.hm-submenu__link Responsible Gambling
		.hm-submenu__item
			a.font--white.hm-submenu__link Live Streaming
		.hm-submenu__item
			a.font--white.hm-submenu__link Help
		.hm-submenu__item.link-dropdown
			a.font--white.hm-submenu__link
				span Language:
				span.font--primary English
			.dropdown
				ul.flex.align-middle.flex-wrap.dropdown__wrap.scroll
					li.dropdown__item.half-width
						a.dropdown__link.dropdown__link--active English
					li.dropdown__item.half-width
						a.dropdown__link Dansk
					li.dropdown__item.half-width
						a.dropdown__link Franch
					li.dropdown__item.half-width
						a.dropdown__link Nederlands
					li.dropdown__item.half-width
						a.dropdown__link Polski
					li.dropdown__item.half-width
						a.dropdown__link English
					li.dropdown__item.half-width
						a.dropdown__link Dansk
					li.dropdown__item.half-width
						a.dropdown__link Franch
					li.dropdown__item.half-width
						a.dropdown__link Nederlands
					li.dropdown__item.half-width
						a.dropdown__link Polski
					li.dropdown__item.half-width
						a.dropdown__link English
					li.dropdown__item.half-width
						a.dropdown__link Dansk
					li.dropdown__item.half-width
						a.dropdown__link Franch
					li.dropdown__item.half-width
						a.dropdown__link Nederlands
					li.dropdown__item.half-width
						a.dropdown__link Polski
					li.dropdown__item.half-width
						a.dropdown__link English
					li.dropdown__item.half-width
						a.dropdown__link Dansk
					li.dropdown__item.half-width
						a.dropdown__link Franch
					li.dropdown__item.half-width
						a.dropdown__link Nederlands
					li.dropdown__item.half-width
						a.dropdown__link Polski
		.hm-submenu__item.link-dropdown
			a.font--white.hm-submenu__link
				span Odds:
				span.font--primary Decimal
			.dropdown
				ul.dropdown__wrap.scroll
					li.dropdown__item
						a.dropdown__link.dropdown__link--active Fractional
					li.dropdown__item
						a.dropdown__link Decimal
					li.dropdown__item
						a.dropdown__link American
					li.dropdown__item
						a.dropdown__link American/Fractional

		.hm-submenu__item.link-dropdown
			a.font--white.hm-submenu__link Services
			.dropdown
				ul.dropdown__wrap.scroll
					li.dropdown__item
						a.dropdown__link.dropdown__link--active Help
					li.dropdown__item
						a.dropdown__link Responsible Gambling
					li.dropdown__item
						a.dropdown__link Banking
					li.dropdown__item
						a.dropdown__link Mobile & Tablet
					li.dropdown__item
						a.dropdown__link Live Streaming
					li.dropdown__item
						a.dropdown__link Promotions
					li.dropdown__item
						a.dropdown__link Open Account Offer

		.hm-submenu__item
			a.font--white.text-nowrap.hm-submenu__text 18:00:00 GMT+2